doctype html
html(lang en)
	head
		title App Page
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, inital-scale=1')
		link(rel='stylesheet', type='text/css', href='index.css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css')
		link(rel="shortcut icon", type="image/ico", href="icon.ico")
	body




		//- LAND PAGE
		div.pg1
			div.pg1-menu
				ul
					li Blog
					li About
				img.pg1-social(src="images/pg1/social.png")
			img.pg1-phone(src="images/pg1/phone.png")
			img.pg1-logo(src="images/pg1/logo.png")
			div.pg1-title Look At Me,
			div.pg1-undertitle I am Here!
			img.pg1-button1(src="images/pg1/button1.png")
			img.pg1-button2(src="images/pg1/button2.png")





		//- 2 PAGE
		div.pg2
			div.pg2-wrapper
				div.pg2-title Main Features
				div.pg2-chat
					h2 Chat :)
					p Integer bibendum blandit felis sed mollis. Sed rutrum, sapien sed congue convallis, risus nisi sodales risus, sed ornare dolor lacus eget urna. Donec congue aliquet tellus sit amet tempus. Donec sit amet condimentum orci. Donec accumsan tempus ligula, vulputate facilisis est. Integer bibendum blandit felis sed mollis.
				div.pg2-groups
					h2 Add Groups
					p Donec velit tortor, suscipit a ullamcorper sed, feugiat in risus. Phasellus vel ex pellentesque, dictum nisl id, iaculis nunc. Vestibulum rutrum blandit nisi, ornare egestas magna faucibus ac. Ut neque ligula, blandit ac placerat vel, tristique at purus. Nam a elit eget dui tincidunt porttitor. Etiam consectetur turpis libero, ut mattis metus tincidunt.
				div.pg2-icons
					img.pg1-chatico(src="images/pg2/chat.png")
					div.pg2-pointer
						div.pg2-pointertip
					img.pg1-checkocp(src="images/pg2/check.png")
					div.pg2-pointer2
						div.pg2-pointertip2
				img.pg2-phone(src="images/pg2/phone.png")





		//- 3 PAGE
		div.pg3
			div.pg3-wrapper
				img.pg3-phone(src="images/pg2/phone.png")
				div.pg3-text
					h2 DISCOVER, MAKE AND COLLECT BEAUTIFUL THINGS
					p Integer bibendum blandit felis sed mollis. Sed rutrum, sapien sed congue convallis, risus nisi sodales risus, sed ornare dolor lacus eget urna. Donec congue aliquet tellus sit amet tempus. Donec sit amet condimentum orci. Donec accumsan tempus ligula, vulputate facilisis est. Integer bibendum blandit felis sed mollis. Donec velit tortor, suscipit a ullamcorper sed, feugiat in risus. Phasellus vel ex pellentesque, dictum nisl id, iaculis nunc. Vestibulum rutrum blandit nisi, ornare egestas magna faucibus ac. Ut neque ligula, blandit ac placerat vel, tristique at purus. Nam a elit eget dui tincidunt porttitor. Etiam consectetur turpis libero, ut mattis metus tincidunt.




		//- PAGE 4
		div.pg4
			div.pg4-back
			div.pg4-wrapper
				img.pg4-phone(src="images/pg4/phone.png")
				div.pg4-text
					h2 Fi
						span o
						|n
					p#pg4-pbold Integer bibendum blandit felis sed mollis. Sed rutrum, sapien sed congue convallis, risus nisi sodales risus, sed ornare dolor lacus eget urna. Donec congue aliquet tellus sit amet tempus. Donec sit amet condimentum orci. Donec accumsan tempus ligula, vulputate facilisis est.
					p Integer bibendum blandit felis sed mollis. Sed rutrum, sapien sed congue convallis, risus nisi sodales risus, sed ornare dolor lacus eget urna. Donec congue aliquet tellus sit amet tempus. Donec sit amet condimentum orci. Donec accumsan tempus ligula, vulputate facilisis est. Integer bibendum blandit felis sed mollis. Donec velit tortor, suscipit a ullamcorper sed, feugiat in risus. Phasellus vel ex pellentesque, dictum nisl id, iaculis nunc. Vestibulum rutrum blandit nisi, ornare egestas magna faucibus ac. Ut neque ligula, blandit ac placerat vel, tristique at purus. Nam a elit eget dui tincidunt porttitor. Etiam consectetur turpis libero, ut mattis metus tincidunt.
					div.test-button LIVE DEMO


				//- DEMO BOX
				div.demo-wrapper
					img.demo-load(src="images/pg4/reload.png")
					img.demo-status(src="images/pg4/status.jpg")
					form(name='Calc')
					table#calc.calculator
						tr.calc-top
							td.calc_td_result(colspan='4')
								input#calc_result.calc_result(type='text', readonly='readonly', name='calc_result', onkeydown="javascript:key_detect_calc('calc',event);")

						tr
							td.calc_td_btn
								input.calc_btn(type='button', value='CE', onclick="javascript:f_calc('calc','ce');")
							td.calc_td_btn
								input.calc_btn(type='button', value='←', onclick="javascript:f_calc('calc','nbs');")
							td.calc_td_btn
								input.calc_btn(type='button', value='%', onclick="javascript:f_calc('calc','%');")
							td.calc_td_btn
								input.calc_btn#red(type='button', value='+', onclick="javascript:f_calc('calc','+');")
						tr
							td.calc_td_btn
								input.calc_btn(type='button', value='7', onclick="javascript:add_calc('calc',7);")
							td.calc_td_btn
								input.calc_btn(type='button', value='8', onclick="javascript:add_calc('calc',8);")
							td.calc_td_btn
								input.calc_btn(type='button', value='9', onclick="javascript:add_calc('calc',9);")
							td.calc_td_btn
								input.calc_btn#red(type='button', value='-', onclick="javascript:f_calc('calc','-');")
						tr
							td.calc_td_btn
								input.calc_btn(type='button', value='4', onclick="javascript:add_calc('calc',4);")
							td.calc_td_btn
								input.calc_btn(type='button', value='5', onclick="javascript:add_calc('calc',5);")
							td.calc_td_btn
								input.calc_btn(type='button', value='6', onclick="javascript:add_calc('calc',6);")
							td.calc_td_btn
								input.calc_btn#red(type='button', value='x', onclick="javascript:f_calc('calc','*');")
						tr
							td.calc_td_btn
								input.calc_btn(type='button', value='1', onclick="javascript:add_calc('calc',1);")
							td.calc_td_btn
								input.calc_btn(type='button', value='2', onclick="javascript:add_calc('calc',2);")
							td.calc_td_btn
								input.calc_btn(type='button', value='3', onclick="javascript:add_calc('calc',3);")
							td.calc_td_btn
								input.calc_btn#red(type='button', value='÷', onclick="javascript:f_calc('calc','');")
						tr
							td.calc_td_btn
								input.calc_btn(type='button', value='0', onclick="javascript:add_calc('calc',0);")
							td.calc_td_btn
								input.calc_btn(type='button', value='±', onclick="javascript:f_calc('calc','+-');")
							td.calc_td_btn
								input.calc_btn(type='button', value=',', onclick="javascript:add_calc('calc','.');")
							td.calc_td_btn
								input.calc_btn#red(type='button', value='=', onclick="javascript:f_calc('calc','=');")








		//- PAGE 5
		div.pg5
			h2 Let's stop wasting time and get it on!
			ul
				img(src="images/pg1/button1.png")
				img(src="images/pg1/button2.png")
			hr
			h3 Follow Us and Keep in Touch :)
			p Ut neque ligula, blandit ac placerat vel, tristique at purus. Nam a elit eget dui tincidunt porttitor. Etiam consectetur turpis libero, ut mattis metus tincidunt.
			br
			img.pg5-social(src="images/pg1/social.png")





		//- PAGE 6
		div.pg6
			img.pg6-social(src="images/pg6/logo.png")
			ul.pg6-futer
				li Copyright 2015 
				span | 
				li Blog 
				span | 
				li Support 
				span | 
				li Contact Us 







	//- SKRIPTORIJUM
	script(type='text/javascript', src='js/jquery-1.10.2.js')
	script(type='text/javascript', src='index.js')
	script(type='text/javascript', src='js/calculator.js')