//- HEADER == LANDPAGE
header.header-start
	div.footer
		div.footer-left Copyright Notice
		p.copy-notice All of the examples listed on this page are for education purposes only.		
		a(target="_blank", href="https://github.com/notbigmuzzy")
			img.footer-right(alt="image", src="images/ico/github.png")
		a(target="_blank", href="http://ivansj.mycpanel.rs/cv/")
			img.footer-right(alt="image", src="images/ico/cv.png")
	.vert-center
		img.header-img(alt="N B M", src="images/leme.jpg")
		div
		.text-center.ease-out6
			h1.header-h1 HI! I'm 
				span NOTBIGMUZZY 
			h2.header-h2 a 
				span FRONT-END DEVELOPER
			p AND I SPECIALIZE IN WRITING 
				span CLEAN, ELEGANT AND EFFICIENT CODE.
		div
		a.header-button-link-wrapper#hide-this-in-tablet.header-button-mywork.hvr-rectangle-in WORK
		a.header-button-link-wrapper-tablet.header-button-mywork-tablet.hvr-rectangle-in WORK
		a.header-button-link-wrapper.header-button-contact#hide-this-in-mobile.hvr-shutter-in-vertical ME
		a.header-button-link-wrapper-mobile.header-button-contact-mobile(href="mailto:notbigmuzzy@gmail.com") EMAIL
		a.header-button-link-wrapper.header-button-blog.hvr-sweep-to-left BLOG 






div.header-cover
	div.header-cover-close x


div.aboutme-wrapper
	h2 
		span Who I am?
	p I am a self-taught front-end developer with my sights firmly pointed at the full stack. As of the beginning of 2015, examples listed here are mainly focused on HTML5, CSS3 and JS, mostly written from scratch.
		br
		|In following months I will be diving into SASS , JADE , PHP and CMS's so you can expect updates. If you have any questions or would like to get in contact with me, feel free to use the form on the right.

	h2 
		span What's this place?
	p This is a place where prototypes, ideas, unfinished & side projects unite in one pretty graveyard-like place. One which is easy to search and find why, when & what the hell was I thinking when I tried to implement that one glorius feature that didn't make the final cut. Also, a place where to put really long sentences, apparently.
		br
		br
		|This is my playground.
		br
		br
		|p.s. A good place to start is my 
		a(target="_blank", href="http://ivansj.mycpanel.rs/cv/") RESUME 
		| or contact me 
		a(target="_blank", href="mailto:notbigmuzzy@gmail.com") HERE.
	div#news-last