@page {
	margin: 20px;
	background-color: #fff;
}

html {
	background-color: #fff;
}

body {
	background-color: #fff;
}

.cv-portfolio {
	overflow: visible !important;
	background-color: #fff;
	background-image: initial;
}

.cv-toggle {
	background-color: #fff;	
}

.cv-toggle-close {
	display: none;
	opacity: 0 !important;
	color: transparent !important;
}

.cv-download-button-wrapper {
	display: none;
	opacity: 0 !important;
	color: transparent !important;
}

.cv-header {
	margin-bottom: 20px !important;
	-webkit-print-color-adjust: exact;	
}

.highlight {
	color: #CF1017;
}

.name {
	font-size: 30px !important;
}

.phone {
	display: block !important;
}

.resume {
	font-size: 60px !important;
}

.cv-experience {
	padding: 0 !important;
}

.cv-education {
	padding: 0 !important;
}

.cv-hoby {
	padding: 0 !important;
}

.cv-toggle {
	overflow: visible !important;
}

.the-cv {
	height: auto !important;
}

.wrapper-right {
	display: none !important;
}

.cv-header {
	display: flex !important;
}

.cv-cta {
	display: none !important;
}

.full-card {
	display: none !important;
}