h1.top-title SIDE MENU - LES EXAMPLES
ul.top-menu
	li.top-menu-li.example1 Example 1
	li.top-menu-li.example2 Example 2
	li.top-menu-li.example3 Example 3
	li.top-menu-li.example4 Example 4
	li.top-menu-li.example5 Example 5
	li.top-menu-li.example6 Example 6
div.browser
	div.browser-toolbar
		img.browser-toolbar-buttons(src='img/toolbar-buttons.jpg')
		input.browser-toolbar-search
		img.browser-toolbar-newtab(src='img/toolbar-newtab.jpg')