div.page2-wrapper
					div.page2-menu
						div.page2-menudark
							div.page2-menutop
								div.page2-menu-settings
									span.fa.fa-cogs
								ul.page2-topmenu
									li.page2-topmenu-item1 User
										span.page2-menutriangle
									li Settings
									li Log Out
								img.page2-user(src="menus/2/user.jpg")
								div.page2-username Carolina
								ul.page2-menuitems
									li.page2-menuitem.page2-menuitem-clicked.notif-messages Messages
										span.fa.fa-weixin.green
										div.page2-menuitem-notifications#notif 4
									li.page2-menuitem Discover
										span.fa.fa-camera-retro.blue
										div.page2-menuitem-notifications 0
									li.page2-menuitem Popular
										span.fa.fa-line-chart.yellow
										div.page2-menuitem-notifications 0					
									li.page2-menuitem.page2-menuitem-clicked.notif-trends Trends
										span.fa.fa-thumbs-o-up.red
										div.page2-menuitem-notifications#notif 2
									li.page2-menuitem Settings
										span.fa.fa-cog.grey
										div.page2-menuitem-notifications 0
									li.page2-menuitem Log Out
										span.fa.fa-sign-out.dark
										div.page2-menuitem-notifications 0
							div.page2-menubottom
								div.page2-notifications NOTIFICATIONS
									span.page2-notifications-close x
								div.page2-notifbody
									ul.page-messages
										li.page-message
											img.mess-img(src="menus/2/user2.jpg")
											div.mess-name Bob
											div.mess-prew This is just a preview of text. Click for full. Lorem ipsum babana. That is this is that. This now is full message. This now is full message. This now is full message.
											div.mess-time 17:50
											input.mess-reply(type='text', value="Reply here..")
											button.mess-button SEND
										li.page-message
											img.mess-img(src="menus/2/user.jpg")
											div.mess-name Dan Mayorka
											div.mess-prew Ei pro nonumes ocurreret, pri labore iriure imperdiet cu, est aeque elitr aliquam no. Te mel corpora scaevola. Eu ius copiosae scaevola eloquentiam, ea his meis delicata, noster volumus at vim. This now is full message. 
											div.mess-time 19:43
											input.mess-reply(type='text', value="Reply here..")
											button.mess-button SEND
										li.page-message 
											img.mess-img(src="menus/2/user2.jpg")
											div.mess-name Bob
											div.mess-prew   Et eum nisl mnesarchum, quo malorum urbanitas instructior eu. Clita recteque dissentiet usu in, no duo exerci putent fierent. This now is full message. 
											div.mess-time Yesterday
											input.mess-reply(type='text', value="Reply here..")
											button.mess-button SEND
										li.page-message 
											img.mess-img(src="menus/2/user.jpg")
											div.mess-name Mila
											div.mess-prew This is just a preview of text. Click for full. Lorem ipsum babana. That is this is that. This now is full message. This now is full message. This now is full message.
											div.mess-time Several days ago
											input.mess-reply(type='text', value="Reply here..")
											button.mess-button SEND
									ul.page-trends
										li.page-trend
											img.trend-img(src="menus/2/user3.jpg")
											div.trend-name Summer at Camp
											div.trend-prew Come with us on best trip in 2016.
											img.trend-img2(src="menus/2/camp.jpg")
										li.page-trend
											img.trend-img(src="menus/2/user3.jpg")
											div.trend-name Travel House
											div.trend-prew Check-out plans for next year!
											img.trend-img2(src="menus/2/house.jpg")
					div.page2-body
						img.page2-menubutton(src="menus/2/menuicon.png")
						img.page2-menuclose(src="menus/2/menuclose.png")
						div.page2-bodycover