doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title SIDE MENU | LES EXAMPLES
		meta(name="description" content="Practice 9 - MENUS")
		meta(name="author" content="Not Big Muzzy")
		meta(name="copyright" content="Not Big Muzzy 2015")
		meta(name="viewport", content="width=device-width", initial-scale="1")
		link(type="text/css", rel="stylesheet", href="index.css")
		link(rel="shortcut icon" href="favico.ico")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="scrollbar/jquery.mCustomScrollbar.css")
	body

		//- MAIN PAGE STUFF
		include _landpage.jade

		//- BROWSER TOOLBAR
		div.browser
			div.browser-toolbar
				img.browser-toolbar-buttons(src='img/toolbar-buttons.jpg')
				input.browser-toolbar-search
				img.browser-toolbar-newtab(src='img/toolbar-newtab.jpg')


			//- BROWSER BODY
			div.browser-body
				//- PAGES
				include _page1.jade
				include _page2.jade
				include _page3.jade 
				include _page4.jade 
				include _page5.jade 				
				include _page6.jade 


	//- SKRIPTORIJUM
	script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.3.min.js')
	script(type='text/javascript', src='index.js')
	script(src="scrollbar/jquery.mCustomScrollbar.concat.min.js")
	script(type='text/javascript', src='js/jquery.transit.js')
	