div.page1-wrapper
	ul.page1-menu
		div.page1-menucover
		li.page1-menuitem.page1-menuitem-selected
			div.page1-menuitem-ico
				.fa.fa-home
			div.page1-menuitem-txt HOME
		li.page1-menuitem
			div.page1-menuitem-ico
				.fa.fa-video-camera
			div.page1-menuitem-txt VIDEOS
		li.page1-menuitem 
			div.page1-menuitem-ico
				.fa.fa-list
			div.page1-menuitem-txt PLAYLISTS
		li.page1-menuitem 
			div.page1-menuitem-ico
				.fa.fa-search
			div.page1-menuitem-txt SEARCH
	div.page1-body
		div.page1-menubutton
			span
		div.page1-bodycover