doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title SPOILERS INC.
		meta(name="description" content="Practice 7 - FF")
		meta(name="author" content="Not Big Muzzy")
		meta(name="copyright" content="Not Big Muzzy 2015")
		meta(name="viewport", content="width=device-width", initial-scale="1")
		link(type="text/css", rel="stylesheet", href="index.css")
		link(rel="shortcut icon" href="favico.ico")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(href='http://fonts.googleapis.com/css?family=Expletus+Sans:400,700' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css')
	body







		//- HEADER AND BUTTONS
		div.header
			div.head-close
				div.fa.fa-times
			div.head-menu
				div.fa.fa-align-justify 
			div.thisguy-close
				div.fa.fa-times
			div.thisguy-closetrans
				div.fa.fa-times
		div.button-wrapper
			div.button-left
				div.fa.fa-chevron-left
			div.button-right
				div.fa.fa-chevron-right






		//- LANDING PAGE
		div.landpage
			div.landpage-wrapclose
				div.landpage-wrapper
					img.landpage-logo(src="img/poster1/logo.gif")
					hr.landpage-hr
					p.landpage-desc Some time ago 
						span.landpage-popoutbutton THIS GUY
						|&nbsp;designed a movie posters collection. A god damn irritating one, in his own words. Each piece is a a spoiler-alert poster that reveals movie ending. I just had to put them in a page!
					div.landpage-scrollbutton
						div.landpage-scrolltxt REVEAL AT YOUR OWN RISK!
						img.landpage-scrollimg(src="img/poster1/menu.png")
			div.landpage-cover
				div.landpage-iframe
					img(src="img/thisguy.jpg")
			div.landpage-menu
				img.menu-logo(src="img/mainmenu/logo.jpg")
				ul.menu-ul
					li NEVER discuss the Family business.
					li Avoid sleeping with the fishes.
					li Keep things business, not personal.
					li Leave the gun, take the cannoli.
					li If a favour is called, do it!
					li Sicilian women are more dangerous than guns.
					li Watch out for kids when you're backing out.
					li Never talk business in front of the kids.
					li Always make them offer they cant refuse.
				div#clouds
					div.cloud.x1
					div.cloud.x2
					div.cloud.x3
					div.cloud.x4
					div.cloud.x5
					div.cloud.x6
					div.cloud.x7
				div.menu-footer
					a(href="https://github.com/notbigmuzzy", target="_blank")
						div.menufoot-left.fa.fa-github
					div.menufoot-right Copyright Notice
				div.copy-notice This page was created for fun. If you like it, you really should check out the 
					a(href="https://www.behance.net/gallery/27322071/Spoiler-Poster-Collection", target="_blank") ORIGINAL DESIGN HERE :)
					div.copy-triangle









		//- POSTER WRAPPER UND POSTERS
		div.posterpage

			div.poster1
				img.poster1-logo(src="img/poster1/logo.png")
				p.poster1-subtitle EPISODE V : THE EMPIRE STRIKES BACK
				div.poster1-imgwrap
					img.poster1-img(src="img/poster1/dart.png")
				p.poster1-starring Starring:
				hr.poster1-hr
				p.poster1-stars MARK HAMILL / HARRISON FORD / CARRIE FISHER / DAVID PROWSE
				p.poster1-stars2 BILLY DEE WILLIAMS / ANTHONY DANIELS / PETER MAYHEW
				hr.poster1-hr
				p.poster1-director IRVIN KESHNER MOVIE
				div.poster1-bottomspoiler 
					div.poster1-spoiltop DARTH VADER IS LUKE'S SKYWALKER OLD MAN
					div.poster1-spoilleft
					div.poster1-spoilright
				p.poster1-comming COMMING TO YOUT GALAXY THIS SUMMER.
				img.poster1-dolby(src="img/poster1/dolby.png")

			div.poster2
				img.poster2-logo(src="img/poster2/logo.png")
				div
				div.poster2-mainimage
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet2.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmet(src="img/poster2/helmet.png")
					img.poster2-helmetrans(src="img/poster2/helmet.png")
					div.poster2-299die 299 DIE
				p.poster2-belowimage MADE BY ZACK SNYDER. 
					span STARRING: GERRAD BUTLER, LENA HEADEY, DOMINIC WEST, DAVID WENHAM
				p.poster2-belowimage2 COMMING ON DECEMBER 9TH
				div.poster2-bottomcircle THIS IS SPARTA

			div.poster3
				div.poster3-mainwrap
					p.poster3-title THERE IS NO FORCE MORE POWERFULL THAN THE 
						span WILL TO LIVE.
					div.poster3-centerwrap
						img.poster3-hand(src='img/poster3/hand.jpg')
					
						div.poster3-127
							p.poster3-127title JAMES FRANCO IN
							img.poster3-no(src='img/poster3/127.jpg')
							p.poster3-hour HOURS
							p.poster3-director DANNY BOYLE MOVIE
				div.poster3-footerwrap
					div.poster3-footertxt HE CUTS HIS ARM 
						b 
						|AFTER 127 HOURS
					div.poster3-footercover
						div.poster3-footerimg
							div.poster3-footerimgleft
							img(src="img/poster3/hand2.png")
							div.poster3-footerimgright


			div.poster4
				div.poster4-bodywrap
					div.poster4-title American 
						br 
						|History
					div.poster4-x X
					ul.poster-list
						li Movie by Tony Kaye
						li.p4list-red Starring:
						li Edward Norton
						li Edward Furlong
						li Beverly D'Angelo
						li Jennifer Lien
						li Ethan Suplee
						li.p4list-red October 30th
					img(src="img/poster4/toilet.jpg")

			div.poster5
				div.poster5-imagewrap
					img.poster5-img(src="img/poster5/logo.jpg")
					img.poster5-circle(src="img/poster5/circle.png")
				div.poster5-director RICHARD KELLY MOVIE
				hr.poster5-hr
				div.poster5-title Donnie Darko
				hr.poster5-hr
				div.poster5-datebutton 28 DAYS 6 HOURS 42 MINUTES 12 SECONDS
				div.poster5-expl THAT'S WHEN DONNIE DIES.
				div.poster5-actorwrap
					div.poster5-actor
						div.poster5-actname Jake Gyllenhaal
						hr.poster5-acthr
						div.poster5-actrole Donnie Darko
					div.poster5-actor
						div.poster5-actname Jena Malone
						hr.poster5-acthr
						div.poster5-actrole Gretchen Ross
					div.poster5-actor
						div.poster5-actname James Duval
						hr.poster5-acthr
						div.poster5-actrole Frank
					div.poster5-actor
						div.poster5-actname Patrick Swayze
						hr.poster5-acthr
						div.poster5-actrole Jim Cunningham
				div.poster5-bottomlogo
					img(src="img/poster5/rabbit.jpg")

			div.poster6
				div.poster6-fixmove.poster6-titlewrap
					div.poster6-title THE FIVE POINT PALM EXPLODING HEART
					div.poster6-undertitle TECHNIQUE WILL BE EXPLAINED ON BILL
				div.poster6-imgwrap
					img.poster6-fixmove.poster6-letter1(src="img/poster6/1.png")
					img.poster6-fixmove.poster6-letter2(src="img/poster6/2.png")
					img.poster6-fixmove.poster6-letter3(src="img/poster6/3.png")
					img.poster6-fixmove.poster6-letter4(src="img/poster6/4.png")
					img.poster6-fixmove.poster6-letter5(src="img/poster6/5.png")
				div.poster6-fixmove.poster6-infowrap
					img.poster6-infologo(src="img/poster6/logo.jpg")
					div.poster6-infotxt
						div.poster6-txt TARANTINO PRODUCTION
						ul.poster6-listleft
							li Uma Thur
							li Lucy Liu
							li Daryl Hann
							li David Carr
							li Michael M
						ul.poster6-listright
							li Bride
							li Ishii
							li Vivix
							li Bill
							li Budd
						div.poster6-txt2 COMMING 
							span AUTUMN

			div.poster7
				div.poster7-mainwrap
					div.poster7-dashleft
					div.poster7-dashright
					div.top30
					hr.poster7-hr
					div.poster7-director JOEL SCHUMACHER
					hr.poster7-hr
					div.poster7-intro INTRODUCING
					div.poster7-actor Jim Carrey
						div.poster7-triangleleft
						div.poster7-triangleright
					div.poster7-expl AS AN THE NUMBER 23
					div.poster7-expl2 BOOK AUTHOR
					div.poster7-bookwrap
						img.poster7-book(src="img/poster7/book.png")
					div.poster7-thenumber THE NUMBER
					div.poster7-23 23
					div.poster7-bottomtriangle
						div.poster7-comming COMMING 
							br 
							|THIS WINTER

































	//- SKRIPTORIJUM
	script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.3.min.js')
	script(type='text/javascript', src='index.js')