h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 3em;
    font-family: monospace;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    min-height: 2000px;
}

.main {
    width: 75%;
    background-color: #fafafa;
}

.sidebar {
    width: 25%;
    background-color: #e1e1e1;
}

footer {
    max-width: 768px;
    margin: 0 auto;
    background-color: lightblue;
    padding: 20px 0;
    text-align: center;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    background-color: #111;
}

.video-container {
    position: absolute;
    right: 0;
    left: 0;
    top: -100px;
    margin-top: 100px;
    right: 50%;
    transition: right 0.3s, top 0s;
    width: 100%;
    height: auto;
}

.video-container.playing.fixed,
.video-container.completed.fixed {
    position: fixed;
    top: 10px;
    margin-top: 0;
    right: 10px;
    left: auto;
    width: 300px;
    transition: right 0.3s, top 0.3s ;
}

.sidebar .title {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.title label.error {
    background-color: red;
}

.video-list {
    padding: 0 10px;
}

.video.item {
    display: block;
    margin-bottom: 20px;
}
