doctype html
html(lang="en")
	head
		title CODEPEN 1
		meta(charset="utf-8")
		link(type="text/css", rel="stylesheet", href="index.css")
		link(href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css')
	body

		div.rope
			img.rope-left(src="http://ivansj.mycpanel.rs/codepen/example1/rope.png")
			img.rope-right(src="http://ivansj.mycpanel.rs/codepen/example1/rope.png")

		div.page1.page
			img.plate1(src="http://ivansj.mycpanel.rs/codepen/example1/plate1.png")
			div.body-wrap
				h1.page1-title M E N U
				div.page1-desc
					h3 SEPTEMBAR 9
					br
					hr
					br
					p Today, our chef will take you on a travel around the world, with an entry from Europe, our best American meat and an authentic dessert from Asia.

		div.page2.page
			img.grapes(src="http://ivansj.mycpanel.rs/codepen/example1/grapes.png")
			div.body-wrap
				div.pg2-middle-wrap
					div.pg2-green-back
					div.pg2-white-desc
						hr.hr1
						h3 APPETIZERS
						hr.hr2
						hr.hr3
						h2 WINE & BRIE
						hr.hr4
						hr.hr5
						p Our most delicious selection of cheeses with wide ranges of wine from our cellar.
						hr.hr6
					div.pg2-photo-wrap
						div.pg2-photo

		div.page3.page
			img.leafs(src="http://ivansj.mycpanel.rs/codepen/example1/leafs.png")
			div.body-wrap
				div.pg3-middle-wrap
					div.pg3-red-back
					div.pg3-photo-wrap
						div.pg3-photo
					div.pg3-white-desc
						hr.hr1
						h3 FROM THE GRILL
						hr.hr2
						hr.hr3
						h2 BEEF STEAK
						hr.hr4
						hr.hr5
						p Aged for extra flavor & tenderness. Rubbed with our unique blend of spices and slow roasted.
						hr.hr6

		div.page4.page
			img.dessert(src="http://ivansj.mycpanel.rs/codepen/example1/dessert.png")
			div.body-wrap
				div.pg4-middle-wrap
					div.pg4-bezh-back
					div.pg4-white-desc
						hr.hr1
						h3 DESERT
						hr.hr2
						hr.hr3
						h2 THAI MANGO
						hr.hr4
						hr.hr5
						p This wonderful and authentic Thai dessert comes with a sweet, sticky rice and a special dressing.
						hr.hr6
					div.pg4-photo-wrap
						div.pg4-photo

		div.page5.page
			div.body-wrap
				h3 GLUTEN FREE & VEGAN AVAILABLE


	//- SKRIPTORIJUM
	script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.4.min.js')
	script(type="text/javascript", src="index.js")