html,
body {
	font-family: $apercu-regular;
	font-size: 14px;
	line-height: 24px;
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	&.b-show-menu {
		overflow: hidden;
	}

	@include sc-breakpoint(640) {
		
		&.b-show-notification-center {
			overflow: hidden;
		}	
	}
}




// JUST FOR TESTING - TBD
.sample-image-small {
	display: block;
	position: absolute;
	bottom: 0;
}

.sample-image-big {
	display: none;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}