input {
	color: $gs-3;
	border: 1px solid $c-blue;
	font-family: $apercu-light;
	font-size: 12px;
	border-radius: 5px;
	padding: 1.375em;

	@include placeholder() {
		color: currentColor;
		text-transform: uppercase;
		font-family: $apercu-light;
		font-size: 12px;
		letter-spacing: 1px;
	}

	&:focus {
		outline: none;
		color: $gs-7;
	}

	&:disabled {
		color: $gs-1;
	}
}