input[type='radio'] {
	display: none;

	+ label {
		display: inline-block;
		vertical-align: middle;
		line-height: 14px;
		font-size: 12px;

		&::before {
			content: '';
			display: inline-block;
			height: 20px;
			width: 20px;
			margin-right: 10px;
			cursor: pointer;
			vertical-align: top;
		}
	}
}

input[type='radio'] {

	+ label {

		&::before {
			background: url(../images/radio-checked.svg) center / contain no-repeat;
		}
	}

	&:checked {

		+ label {

			&::before {
				background: url(../images/radio-unchecked.svg) center / contain no-repeat;
			}
		}
	}
}
