*,
body {
    margin: 0
}

a,
body {
    color: #fff
}

.cover,
body {
    width: 100vw;
    height: 100vh;
    padding: 0
}

.cover-close,
.cover-download {
    position: absolute;
    text-align: center;
    font-weight: 300
}

.cover,
.cover-close,
.cover-download,
.tech-icons {
    position: absolute
}

@font-face {
    font-family: fontello;
    src: url(font/fontello.eot?63612073);
    src: url(font/fontello.eot?63612073#iefix) format("embedded-opentype"), url(font/fontello.woff?63612073) format("woff"), url(font/fontello.ttf?63612073) format("truetype"), url(font/fontello.svg?63612073#fontello) format("svg");
    font-weight: 400;
    font-style: normal
}

* {
    padding: 0;
    box-sizing: border-box
}

body {
    background: url(images/back.jpg) center right no-repeat #591A1C;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    cursor: default;
    overflow: hidden
}

a {
    outline: 0;
    text-decoration: none
}

.tech-icons {
    top: 15px;
    right: 10px;
    list-style: none;
    color: #000;
    font-size: 3vw;
    opacity: .3
}

.tech-icons li {
    margin-bottom: 10px
}

.cover {
    margin: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 99
}

.cover-close {
    top: 0;
    right: 0;
    color: rgba(255, 255, 255, .3);
    font-size: 5em;
    line-height: 85px;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 999px;
    border: 2px solid rgba(255, 255, 255, .3)
}

.cover-close:hover {
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, .7);
    color: rgba(255, 255, 255, .7)
}

.cover-download {
    top: 120px;
    right: 0;
    color: rgba(255, 255, 255, .3);
    font-size: 1.2em;
    margin: 17px
}

.icon-cv-side,
.icon-cv-side2 {
    display: block;
    padding-top: 20px;
    font-size: 7vw
}

.cover-download:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, .7)
}

.icon-cv-side,
.icon-cv-side2,
.icon-title {
    text-align: center;
    color: #000
}

.wrapper-anim {
    -moz-transition: .4s ease-in all;
    -webkit-transition: .4s ease-in all;
    -o-transition: .4s ease-in all;
    -ms-transition: .4s ease-in all;
    transition: .4s ease-in all
}

.global-opacity {
    opacity: .3!important;
    -moz-transition: .2s ease-in-out all!important;
    -webkit-transition: .2s ease-in-out all!important;
    -o-transition: .2s ease-in-out all!important;
    -ms-transition: .2s ease-in-out all!important;
    transition: .2s ease-in-out all!important
}

i[class*=" icon-"]:before,
i[class^=icon-]:before {
    margin: 0;
    font-family: fontello
}

.icon-wrapper {
    float: left;
    width: 28%;
    height: 100%;
    text-align: center
}

.icon-cv-side {
    margin: 0 auto
}

.icon-cv-side2 {
    margin: 0 auto 0 -25px
}

.icon-title {
    font-size: 1.1vw
}

#cv-side-iconfix2 {
    top: -50px;
    left: 15px
}

#cv-side-iconfix {
    left: 15px
}

.cv-highlight {
    font-weight: 600;
    -moz-transition: .2s ease-in-out all;
    -webkit-transition: .2s ease-in-out all;
    -o-transition: .2s ease-in-out all;
    -ms-transition: .2s ease-in-out all;
    transition: .2s ease-in-out all
}

.cv-wrapper:hover .cv-highlight {
    color: #CF1017
}

.wrapper-left {
    float: left;
    height: 100%;
    width: 50%;
    position: relative
}

.cv-wrapper {
    z-index: 999;
    position: relative;
    width: 90%;
    height: 93%;
    margin-left: 8%;
    margin-top: 5%;
    background: #fff;
    border: 1px solid #000;
    overflow: hidden;
    opacity: .8
}

.cv-wrapper-clicked {
    position: absolute;
    margin-top: 0;
    height: 100vh;
    width: 70vw;
    margin-left: 15vw;
    overflow: auto;
    opacity: 1
}

.cv-button,
.cv-education,
.cv-hoby,
.wrapper-right {
    overflow: hidden
}

.cv-education,
.cv-experience,
.cv-hoby {
    position: relative;
    width: 100%
}

.cv-header {
    position: relative;
    width: 100%;
    height: 25%;
    background: url(images/header.jpg) center right no-repeat #591A1C;
    background-size: cover
}

.cvheader {
    font-weight: 300
}

.cvheader-name {
    font-size: 2vh;
    padding: 30px 30px 0
}

.cvheader-ocupation {
    font-size: 1vh;
    padding-left: 30px;
    font-weight: 300
}

.cvheader-ocupation span {
    opacity: .6
}

.cvheader-rezime {
    position: absolute;
    bottom: -5px;
    left: 25px;
    font-size: 7vh
}

.cvheader-rezime-clicked {
    font-size: 100px
}

.cv-description-wrapper {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 72%;
    height: 100%;
    position: relative;
    float: right;
    right: 0;
    padding-right: 5%
}

.cvtxt {
    color: #000
}

.cv-description-wrapper hr {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    opacity: .2
}

.cv-date {
    float: right;
    margin-top: -23px;
    margin-right: 10px;
    color: #BFBFBF;
    min-width: 80px;
}

.cv-place {
    color: #BFBFBF;
    padding-top: 1px;
    padding-bottom: 1px
}

.cv-desc {
    color: #262626
}

.cv-button {
    position: absolute;
    top: 50%;
    margin-top: -38px;
    right: -30px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 12px;
    font-weight: 700;
    background: #fff;
    box-shadow: 0 0 3px #000;
    border: 5px solid #090303;
    border-radius: 50%;
    z-index: 999999;
    color: #090303
}

.cv-button:hover {
    cursor: pointer;
    background: #090303;
    border: 5px solid #fff;
    color: #fff
}

.mailto.ninja footer nav.toolbar ul li button,
.override {
    border-radius: 0!important
}

.icon-zoom-in {
    display: block;
    font-size: 3em;
    margin-left: 10px;
    margin-top: 7px
}

#to-address,
.mailto.ninja footer nav.toolbar ul li a.logo,
.se-modal .close {
    display: none!important
}

.cv-description-cover {
    z-index: 98;
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0) 30%, #fff 76%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%, rgba(255, 255, 255, 0)), color-stop(30%, rgba(255, 255, 255, 0)), color-stop(76%, #fff), color-stop(100%, #fff));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0) 30%, #fff 76%, #fff 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0) 30%, #fff 76%, #fff 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0) 30%, #fff 76%, #fff 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0) 30%, #fff 76%, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0)
}

.cv-separator {
    opacity: 0;
    z-index: 98;
    position: absolute;
    bottom: 0;
    border-top: dashed 1px rgba(0, 0, 0, .5);
    width: 95%;
    margin-left: 2.5%
}

.top1,
.top2 {
    opacity: .8;
    font-size: 2.3vw;
    padding: 0 0 0 10px
}

.wrapper-right {
    float: right;
    height: 100%;
    width: 50%;
    position: relative
}

.title {
    font-weight: 300
}

.top1 {
    margin: 50px 0 0
}

.top2 {
    margin: -5px 0 0;
    font-size: 22px;
}

.icons-top3 {
    margin: 3px 0 0 10px;
    padding: 0
}

.icons-top {
    margin-right: 10px;
    font-size: 2vw;
    opacity: .7
}

.bott1,
.bott2 {
    position: absolute;
    margin: 0
}

.icons-top:hover {
    opacity: 1;
    cursor: pointer
}

.bott1 {
    opacity: .7;
    font-size: 4vw;
    bottom: 14vw;
    padding: 0 0 0 10px
}

.bott2 {
    font-size: 12.5vw;
    bottom: 20px;
    padding: 0
}

.mailto {
    overflow: hidden!important
}

.mailto input,
.mailto textarea {
    background: #fff!important;
    color: #666!important
}

.toolbar {
    background-color: #591A1C!important
}

#cancel {
    width: 80px!important;
    border: none!important;
    opacity: .3
}

#cancel:hover {
    background: 0 0!important
}

#send {
    width: 120px!important;
    height: 45px!important;
    margin-top: 0!important;
    padding: 0!important;
    text-align: center!important
}

@media all and (max-width:1230px) {
    .cvheader-rezime {
        font-size: 50px
    }
}

@media all and (max-width:1130px) {
    .cvheader-rezime-clicked {
        font-size: 90px
    }
}

@media all and (max-width:1020px) {
    .cvheader-rezime-clicked {
        font-size: 80px
    }
}

@media all and (max-width:920px) {
    .cvheader-rezime-clicked {
        font-size: 70px
    }
}

@media all and (max-width:720px) {

    .wrapper-left,
    .wrapper-right {
        width: 100%;
    }

    .wrapper-right {
        padding: 0 50px;
        height: 100%;
    }

    .wrapper-left {
        position: absolute;
        height: 100%;
    }

    .cv-wrapper {
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-top: 0;
        opacity: 0;
    }

    .cv-wrapper.cv-wrapper-clicked {
        opacity: 1;
    }

    .cv-button {
        position: absolute;
        top: auto;
        bottom: 30px;
        margin-top: 0;
        right: 30px;
    }

    .cover {
        margin: 0;
        background: transparent;
        z-index: 999999;
        width: 120px;
        height: 200px;
        right: 0;
    }

    .cvheader-rezime-clicked {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .bott1 {
        bottom: 18vw;
    }

    html, body {
        height: 100%;
    }

    body.active {
        overflow: visible;
    }

    body.active .cv-wrapper {
        height: auto;
    }

    .cv-header {
        min-height: 300px;
    }



}
