doctype html
html(lang en)
  head
    title PSD Convert
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', type='text/css', href='index.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css')
    //- script(type='text/javascript', src='js/jquery-1.10.2.js')
    script(type='text/javascript', src='index.js')
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
  body








    //- LANDING PAGE - MAIN MENU
    div.main-menu
      div.navbar2 
        //- div.navbar-logo2 MEFOLIO
        div.navbar-menuclose
          img(src="images/navbar/close.png")
      ul.main-menulist
        li HOME
        li ABOUT US
        li SERVICES
        li PORTFOLIO
        li CONTACT
      ul.menu-social
        li.fa.fa-twitter.fa-3x
        li.fa.fa-facebook.fa-3x
        li.fa.fa-instagram.fa-3x
        li.fa.fa-vk.fa-3x








    //- LANDING PAGE - PAGE 1 90VH 
    div.landing-page
      div.navbar 
        span.navbar-logo
          img(src="images/navbar/logo.png")
        span.navbar-menu
          img(src="images/navbar/menu.png")
      div.land-middle
        h2 THIS IS 
          span KREATIVE
        h2.middle-h2 AND WE ARE 
          span AWESOME
        p Stop blending in & start leaving your mark on the web.
        ul
          li.list-work Our Team
          li.list-about About Us
      ul.land-pagination
        li
        li#activepage
        li
    div.landing-footer
      p.foot-descript Like What You See? We're Just Getting Started
      div.foot-button View Portfolio









    //- LANDING PAGE - PAGE 2 90VH
    div.page2
      div.page2-wrapper#page2-scrollhere
        img.page2-comp(src="images/page2/comp.png")
        div.pg2-boxleft
          h2.page2-title
            span About 
            |Us
          h2.page2-undertitle MEFOLIO, A FULL 
            span SERVICE DIGITAL AGENCY 
            |THAT HELP OUT CLIENTS EXPAND THEIR DIGITAL REACH
        p.page2-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat lectus leo at hendrerit. Donec eget dui libero. Nulla bibendum odio lectus. Praesent tincidunt lacus eu commodo varius. Cras ut egestas elit. Duis in magna quis risus euismod fringilla a vitae elit. In hac habitasse platea dictumst. Duis in magna quis risus euismod fringilla a vitae elit. In hac habitasse platea dictumst. Cras ut egestas elit. Duis in magna quis risus euismod fringilla a vitae elit. In hac habitasse platea dictumst. Duis in magna quis risus euismod fringilla a vitae elit. In hac habitasse platea dictumst.
        #accordion
          ul.accord-ul
            li#accord-1 Lorem ipsum dolor sit amet, consectetur adipiscing
              span -
              .accordion1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
            li#accord-2 Lorem ipsum dolor sit amet, consectetur adipiscing
              span +
              .accordion2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
            li#accord-3 Lorem ipsum dolor sit amet, consectetur adipiscing
              span +
              .accordion3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
        img.page2-fag(src="images/page2/fag.png")










    //- PAGE 3 40VH
    div.page3
      div.page3-left
        div.page3-leftover
          h3.pg3-txtleft We are revolutionizing marketing.
          p.pg3-txtleft Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis.
      div.page3-right
        div.page3-rightover
          h3.pg3-txtright Lorem ipsum dolor sit amet consectetur.
          p.pg3-txtright Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis.









    //- PAGE 4 140VH
    div.page4
      div.page4-title 
        span Why
        span2  Choose 
        span3 Us?
      div.page4-cardwrapper
        div.page4-card.pg4-card1
          div.pg4-cardimg.fa.fa-3x.fa-lightbulb-o.ico
          div.pg4-cardtitle Minimal Design
          div.pg4-carddescr Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis.
        div.page4-card.pg4-card2
          div.pg4-cardimg.fa.fa-3x.fa-heart-o.ico
          div.pg4-cardtitle Love Our 
            span Clients
          div.pg4-carddescr Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis.
        div.page4-card.pg4-card3
          div.pg4-cardimg.fa.fa-3x.fa-cubes.ico
          div.pg4-cardtitle 
            span Professional 
            |Design
          div.pg4-carddescr Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis.
        div.page4-card.pg4-card4
          div.pg4-cardimg.fa.fa-3x.fa-mobile.ico
          div.pg4-cardtitle 
            span Mobile 
            |App Design
          div.pg4-carddescr Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis.
        div.page4-card.pg4-card5
          div.pg4-cardimg.fa.fa-3x.fa-code.ico
          div.pg4-cardtitle 
            span Web 
            |Development
          div.pg4-carddescr Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis.
        div.page4-card.pg4-card6
          div.pg4-cardimg.fa.fa-3x.fa-list-alt.ico
          div.pg4-cardtitle 
            span Web 
            |Design
          div.pg4-carddescr Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis.
      div.page4-title2
        span Our
        span2  Skills 
        span3 Are?
      div.page4-progress
        div.prog-title Page Design
        div.prog-graph
          div.graph1
      div.page4-progress2
        div.prog-title Web Design
        div.prog-graph
          div.graph2
      div.page4-progress3
        div.prog-title Mobile App Design
        div.prog-graph
          div.graph3
      div.page4-progress4
        div.prog-title Creativity
        div.prog-graph
          div.graph4
      div.page4-footer












    //- PAGE 5 50VH
    div.page5
      img(src="images/page5/skill.png")
      div.page5-descriptionwrapper
        div.page5-title
          .fa.fa-weixin.fa-2x 
          span Discussion
        div.page5-desc Duis in magna quis risus euismod fringilla a vitae elit. In hac habitasse platea dictumst.
        div.page5-title
          .fa.fa-server.fa-2x 
          span2 Get Idea
        div.page5-desc Duis in magna quis risus euismod fringilla a vitae elit. In hac habitasse platea dictumst.
        div.page5-title
          .fa.fa-scissors.fa-2x 
          span3 Implementation
        div.page5-desc Duis in magna quis risus euismod fringilla a vitae elit. In hac habitasse platea dictumst.









    //- PAGE 6 - 80VH
    div.page6
      h2.page6-title 
        span Our
        span2  Awesome 
        span3 Team
      p.page6-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat lectus leo at hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat lectus leo at hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat lectus leo at hendrerit.
      div.page6-picswrapper
        div.page6-pic.pic1
          div.page6-picover
            div.pg6-up 
              div.pg6-1 Jack Smith
              div.pg6-2 CEO/Founder
            div.pg6-down Learn More
        div.page6-pic.pic2
          div.page6-picover
            div.pg6-up 
              div.pg6-1 Mark Doe
              div.pg6-2 Lead Developer
            div.pg6-down Learn More
        div.page6-pic.pic3
          div.page6-picover
            div.pg6-up 
              div.pg6-1 Zack Sorla
              div.pg6-2 Marketing Guy
            div.pg6-down Learn More
        div.page6-pic.pic4
          div.page6-picover
            div.pg6-up 
              div.pg6-1 Dan Brown
              div.pg6-2 Designer
            div.pg6-down Learn More











    //- PAGE 7 75VH
    div.page7
      div.page7-dark
        div.page7-wrapper
          h2.page7-title What Our 
            span Customers 
            | Said
          div.page7-message
            div.pg7-message 
              i Proin feugiat lectus leo at hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat lectus leo at hendrerit.
            div.pg7-person Miss Jorina Akter, 
              span Company
            div.pg7-triangleleft
            div.pg7-trianglemiddle
            div.pg7-triangleright
          img.page7-pics.pg7-picleft(src="images/page7/faceleft.png")
          img.page7-pics.pg7-picmiddle(src="images/page7/face.png")
          img.page7-pics.pg7-picright(src="images/page7/faceright.png")
      div.page7-orange Hire us! We make you smile :) 
        span.page7-quote Request a Quote
        | or 
        span2.page7-hire Hire Us    













    //- PAGE8 150vh
    div.page8 
      h2.page8-title Our 
        span Portfolio
      p Check out some of our latest and greatest projects.
      div.page8-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet in laborum praesentium esse aliquam molestiae animi non facilis perspiciatis corporis ad molestias quo harum suscipit ipsum incidunt ea voluptates accusantium.
      ul.page8-switch
        li#switch.switch1 Print Media
        |/
        li#switch.switch2 Icon Design
        |/
        li#switch.switch3 Photography
        |/
        li#switch.switch4 Web Design
        |/
        li#switch.switch5 All
      div.portfolio-wrapper
        table
          tr 
            td.portfolio-pic1
              div.portfolio-cover
                div.portfolio-covername Project Name 
                br
                div.portfolio-coverbutton View Project
            td.portfolio-pic2
              div.portfolio-cover
                div.portfolio-covername Project Name 
                br
                div.portfolio-coverbutton View Project
            td.portfolio-pic3
              div.portfolio-cover
                div.portfolio-covername Project Name 
                br
                div.portfolio-coverbutton View Project
          tr 
            td.portfolio-pic4
              div.portfolio-cover
                div.portfolio-covername Project Name 
                br
                div.portfolio-coverbutton View Project
            td.portfolio-pic5
              div.portfolio-cover
                div.portfolio-covername Project Name 
                br
                div.portfolio-coverbutton View Project
            td.portfolio-pic6
              div.portfolio-cover
                div.portfolio-covername Project Name 
                br
                div.portfolio-coverbutton View Project
      div.page8-loadmore
        .fa.fa-refresh
        span Load more
      p.page8-underbutton Some awesome companies we've had the pleasure to work with.
      ul.page8-client
        li
          img(src="images/page8/client1.png")
        li
          img(src="images/page8/client2.png")
        li
          img(src="images/page8/client3.png")
        li
          img(src="images/page8/client4.png")







    //- PAGE9
    div.page9
      div.page9-wrapper
        h2.pg9-title WE ARE 
          span HIRING CREATIVE 
          | PEOPLE
        p.pg9-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat lectus leo at hendrerit. Donec eget dui libero. Nulla bibendum odio lectus. Praesent tincidunt lacus eu commodo varius. Cras ut egestas elit. Duis in magna quis risus euismod fringilla a vitae elit. In hac habitasse platea dictumst. Duis in magna quis risus euismod fringilla a vitae elit.
        div.pg9-dropbox
          div.pg9-dropdash
            div.pg9-dropicon.fa.fa-user-plus.fa-5x
            div Drop your CV







    //- PAGE10
    div.page10
      div.pg10-twit.fa.fa-twitter.fa-5x
      p.pg10-desc Workshop: A Practical Introduction to Islamic Geometries Design on 11/4. Register soon;
        br
        |first come, first served, 
        a.pg10-link(href="#") https://docs.google.com/forms/d/...











    //- PAGE11
    div.page11
      div.page11-map
        div.pg11-circle
          div.pg11-titl MeFolio
          div.pg11-adres 32#HOUSE, 32#ROAD NY, US
      div.page11-futer Have any 
        span project? 
        |Send a 
        span message
        div.pg11-icon.fa.fa-plane








    //- PAGE12
    div.page12
      img.page12-logo(src="images/page12/logo.png")
      p.page12-desc In hac habitasse platea dictumst. Duis in magna quis risus euismod fringilla a vitae elit. In hac habitasse platea dictumst. Cras ut egestas elit. Duis in magna quis risus euismod fringilla a vitae elit. In hac habitasse platea dictumst. Duis in magna quis risus euismod fringilla a vitae elit. In hac habitasse platea dictumst.
      img.page12-logo(src="images/page12/social.png")
      div.pg12-copy &copy Copyright 2015 NBM - All Rights Reserved