.u-row {
	max-width: 1080px;
	width: 100%;
	margin: auto;
	position: relative;

	@include sc-breakpoint(1200) {
		padding-right: 130px;
	}

	@include sc-breakpoint(640) {
		padding-right: 0;
	}

	.o-hero-small & {

		@include sc-breakpoint(1200) {
			padding-right: 0;
		}
	}
}