// COLORS

// Greyscale
$white: #fff;
$gs-0: $white;
$gs-1: #ecedef;
$gs-2: #ebebeb;
$gs-3: #c6cacf;
$gs-4: #aaaeb3;
$gs-5: #6f7379;
$gs-6: #474b4f;
$gs-7: #393c40;
$gs-8: #202224;
$black: #000;

//Additional colors
$gs-9: #3e3f41;
$gs-10: #f9fafc;

// Main colors
$c-green: #1de9b6;
$c-light-green: #eafdf8;
$c-red: #f44236;
$c-purple: #a389d4;
$c-blue: #1dc4e9;
$c-orange: #f5c22b;

// Gradients
$g-purple: #899fd4, $c-purple;
$g-green: #1dc5e9, $c-green;
$g-blue: #049df5, $c-blue;

// FONTS
$apercu-bold: 'apercu_bold', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$apercu-light: 'apercu_light', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$apercu-regular: 'apercu_regular', Arial, 'Helvetica Neue', Helvetica, sans-serif;
