* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	color: #333;
	font-family: "Open Sans", sans-serif;

	.h-m {
		@media (max-width: 768px) {
			display: none !important
		}
	}

	.h-d {
		@media (min-width: 769px) {
			display: none !important
		}
	}
}

a {
	text-decoration: none;
}

@mixin hide-scrollbars() {
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@mixin vapor-border {
	border-top: 2px solid rgba(#fff, 0.5);
	border-left: 2px solid rgba(#fff, 0.5);
	border-right: 2px solid rgba(#000, 0.5);
	border-bottom: 2px solid rgba(#000, 0.5);
}

@mixin vapor-border-hovered {
	border-top: 2px solid rgba(#000, 0.5);
	border-left: 2px solid rgba(#000, 0.5);
	border-right: 2px solid rgba(#fff, 0.5);
	border-bottom: 2px solid rgba(#fff, 0.5);
}