.vapor-portfolio {
	height: 100%;
	width: 100%;
	background: $tangerine;
}

.wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.desktop {
    position: relative;
    height: calc(100% - 30px);
    width: 100%;
    pointer-events: none;

    & > * {
        pointer-events: initial;
    }

    .icons {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100px;
        padding: 20px 0;
        text-align: center;

        &.right {
            left: auto;
            right: 0;
        }

        li {
            position: relative;
            min-height: 100px;
            min-width: 100px;
            &:last-child {
                .icon {
                    margin-bottom: 0;
                }
            }
        }

        .icon {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: block;
            margin-bottom: 20px;
            cursor: pointer;

            img {
                margin-bottom: 5px;  
            }

            .label {
                font-size: 14px;
                display: block;
                color: #fff;
            }
        }
    }

    .root {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        overflow: hidden;

        .window {
            position: absolute;
            background-color: #fff;
            pointer-events: initial;
            display: flex;
            flex-direction: column;
            background-color: $window-background;
            @include vapor-border;
            padding: 1px;

            &.minimize {
                display: none;
            }

            &.maximize {
                width: 100% !important;
                height: 100% !important;
                left: 0 !important;
                right: 0 !important;
                top: 0 !important;
                bottom: 0 !important;
                padding: 0 !important;
                border: none !important;
            }

            &.focus {
                z-index: 99;
            }

            .titlebar {
                display: flex;
                align-items: center;
                cursor: default;
                background-color: $blue;
                color: #fff;

                .ico {
                    margin-left: 5px;
                    height: 16px;
                    width: 16px;
                }

                .label {
                    flex-grow: 9;
                    padding-left: 5px;
                    font-size: 14px;
                    font-weight: bold;
                }

                .buttons {
                    display: flex;

                    li {
                        min-width: 24px;
                        
                    }

                    button {
                        background-color: $window-background;
                        padding: 0px 5px;
                        @include vapor-border;

                        &:hover {
                            @include vapor-border-hovered;
                        }
                    }
                }
            }

            .content {
                flex-grow: 9;
                background-color: #fff;
                @include vapor-border-hovered;
                padding: 2px;
            }
        }
    }
}