.vapor-portfolio {
	height: 100%;
	width: 100%;
	background: $tangerine;
}

.wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.desktop {
    height: 100%;
    width: 100%;

    .icons {
        max-width: 100px;
        padding: 20px 0;
        text-align: center;

        li {
            position: relative;
            min-height: 100px;
            min-width: 100px;
            &:last-child {
                .icon {
                    margin-bottom: 0;
                }
            }
        }

        .icon {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: block;
            margin-bottom: 20px;
            cursor: pointer;

            img {
                margin-bottom: 5px;  
            }

            .label {
                font-size: 14px;
                display: block;
                color: #fff;
            }
        }
    }
}