.taskbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    padding: 3px 0;

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: initial;
        cursor: pointer;
        margin: 0;
        padding: 0 5px;
        margin: 0 3px;
        font-size: 14px;
        font-weight: bold;
        height: 26px;
    }

    .bar-background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $window-background;
        @include vapor-border;
    }

    .start-wrapper {
        position: relative;

        &.show-menu {
            .start-button {
                @include vapor-border-hovered;
            }
            .start-menu {
                display: block;
            }
        }
    }

    .start-button {
        @include vapor-border;

        img {
            width: 16px;
            height: 16px;
            margin-right: 4px;
        }

        &:hover {
            @include vapor-border-hovered;
        }
    }

    .start-menu {
        position: absolute;
        bottom: 100%;
        left: 0;
        padding: 0 0 0 30px;
        min-width: 240px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 30px;
            background-color: $highlight-background;
        }

        &:after {
            content: "Windows98";
            position: absolute;
            left: 0;
            bottom: 20px;
            width: 30px;
            color: #fff;
            transform: rotate(-90deg);
            font-weight: bold;
        }

        li {
            padding: 10px 5px;

            img {
                width: 32px;
                height: 32px;
                margin: 0 10px 0 5px;
            }

            .submenu {
                padding: 0;

                img {
                    width: 16px;
                    height: 16px;
                    margin: 0 10px 0 0;
                }
            }
        }
    }

    .button-bar {
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 0 3px;
        margin-right: 3px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 5px;
            left: 2px;
            bottom: 5px;
            background-color: rgba(#fff, 0.15);
            width: 2px;
            border-radius: 2px;
        }
        &:after {
            left: auto;
            right: 0;
        }

        .icon {
            width: 30px;
            padding: 0;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .tasks {
        display: flex;
        flex-direction: row;
        flex-grow: 100;
        z-index: 9;
        align-items: center;

        li {
            display: flex;
            align-items: center;
            height: 26px;
            line-height: 1.25;
            padding: 0 10px;
            cursor: pointer;
            min-width: 180px;
            font-size: 14px;
            font-weight: bold;
            background-color: #b3b3b3;
            @include vapor-border;

            .ico {
                width: 16px;
                height: 16px;
                margin-right: 5px;
            }

            &.minimize {
                background-color: transparent;
            }

            &:hover {
                @include vapor-border-hovered;
            }
        }
    }

    .tray {
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 0 3px;
        @include vapor-border-hovered;
        border-right: initial;

        .icon {
            width: 16px;
            height: 20px;
            padding: 0;
            margin: 0;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .clock {
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 0 3px 0 0;
        @include vapor-border-hovered;
        border-left: initial;
        margin-left: 0;
    }
}