.blog-page {
    position: relative;
    overflow-y: auto;
    background-color: #333;
    height: 100%;
    width: 100%;
    left: 100%;
    top: -200%;
    opacity: 0;
    transition: left .6s ease-out, opacity .9s;
    color: #fff;

    .work-back-button {
        position: fixed;
        left: -100px;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 60px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding-left: 25px;
        padding-right: 25px;
        color:#b5b5b5;
        background-color:#fff;
        margin-left: -10px;
        font-size: 25px;
        padding-top: 5px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        box-shadow: 0px 15px 25px #0000004d;
        transform: rotate(-90deg);
        transition: all .1s ease-out;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 23px;
            left: 23px;
            width: 15px;
            border-bottom: 2px solid #b5b5b5;
        }

        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }

        &:hover {
            cursor: pointer;
            margin-left: -5px;
            color:#333;
            box-shadow: 0px 5px 15px#0003;

            &:before,
            &:after {
                border-bottom-color: #0003;
                transition: border-bottom-color .1s ease-out;
            }
        }
    }
}