.work-page {
    position: relative;
    overflow-y: auto;
    background-color: #fff;
    height: 100%;
    width: 100%;
    top: -200%;
    opacity: 0;
    padding-top: 100px;
    transition: top .6s ease-out, opacity .9s;

    .work-back-button {
        position: fixed;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
        height: 50px;
        width: 60px;
        z-index: 1;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding-left: 25px;
        padding-right: 25px;
        color:#b5b5b5;
        background-color:#fff;
        margin-top: -5px;
        font-size: 25px;
        padding-top: 5px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        box-shadow: 0px 15px 25px #0000004d;
        transition: all .1s ease-out;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 23px;
            left: 23px;
            width: 15px;
            border-bottom: 2px solid#b5b5b5;
        }

        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }

        &:hover {
            cursor: pointer;
            margin-top: 0px;
            color:#333;
            box-shadow: 0px 5px 15px#0003;

            &:before,
            &:after {
                border-bottom-color: #0003;
                transition: border-bottom-color .1s ease-out;
            }
        }
    }

    .the-list {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;

        .list-item {
            width: 33.333%;
            padding: 20px;
            margin: 0;
            flex-direction: column;

            .item-image {
                height: 230px;
                width: 100%;
                min-width: 100%;
            }

            .item-content {
                padding: 0;
            }

            .item-tech-icons {
                display: none;
            }

            .expand-close {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 100%;
                opacity: 0;
            }
        }

        .list-item-action:checked + .list-item {
            width: 100%;

            .item-content {
                background-color: transparent;
            }

            .expand-close {
                position: fixed;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 50px;
                width: 60px;
                text-align: center;
                display: inline-block;
                padding-left: 25px;
                padding-right: 25px;
                color: #b5b5b5;
                background-color: #fff;
                margin-top: -5px;
                font-size: 25px;
                padding-top: 5px;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                font-size: 0;
                opacity: 1;

                &:before,
                &:after {
                    content: '';
                    display: block;
                    height: 12px;
                    width: 2px;
                    background-color: #b5b5b5;
                    position: absolute;
                    top: 18px;
                }

                &:before {
                    transform: rotate(30deg);
                    left: 26px;
                }
                &:after {
                    transform: rotate(-30deg);
                    left: 32px;
                }
            }
        }
    }
}