.m-chat-popup {

	.m-chat-popup-header {
		position: relative;
		padding: 30px 0;
		background-image: linear-gradient(90deg, $g-green);
		z-index: 2;

		.m-chat-popup-icon {
			margin: 0;
			position: absolute;
			left: 30px;
		}

		.m-chat-popup-title {
			padding: 0 60px 0 90px;

			span {
				color: $white;
				font-size: 16px;
			}
		}

		.a-ico-close {
			position: absolute;
			right: 30px;
			top: 35px;
		}

		.a-ico-back {
			position: absolute;
			left: 12px;
			top: 36px;

			.b-expand-popup & {
				transform: rotate(180deg);
			}
		}

		> a {
			display: inline-block;
		}
	}

	.m-chat-popup-content {
		height: 100%;
	}

	.m-chat-popup-header-wrapper {
		cursor: pointer;
		transition: all 0.3s ease-in-out;

		&:hover {
			opacity: 0.5;
		}
	}
}