.m-chat-users {
	position: absolute;
	bottom: 80px;
	width: 100%;
	text-align: center;

	.m-chat-users-head {
		display: none;
		font-size: 0;
		line-height: 0;
		transform: scale(.59);
		margin-top: -12px;
		opacity: 0.5;
		transition: all 0.3s ease-in-out;

		.a-chat-status {
			bottom: 1px;
		}

		&:hover {
			opacity: 1;
		}
	}
}