.m-contact-popup {
	height: 100%;
	position: relative;
	padding-top: 60px;

	.a-ico-close {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.m-contact-popup-info {
		margin-bottom: 60px;
		text-align: center;

		.m-contact-popup-name,
		.m-contact-popup-position {
			margin-bottom: 5px;
			font-family: $apercu-light;
		}

		.m-contact-popup-name {
			font-size: 20px;
			line-height: 20px;
		}

		.m-chat-user {
			margin-top: 40px;
			transform: scale(1.8);
		}

		.a-chat-status {
			bottom: 9px;
		}
	}

	.m-contact-popup-body {
		max-width: 300px;
		margin: 0 auto;

		input,
		button,
		a {
			display: block;
			width: 100%;
			max-width: 100%;
			margin-bottom: 25px;
		}

		.m-contact-popup-message-input {
			position: relative;

			input {
				padding-left: 85px;
			}
		}

		.a-ico-plus {
			position: absolute;
			left: 0;
			top: 0;
		    height: 49px;
		    width: 50px;
		    background-image: url(../images/ico-plus.svg);
		    background-position: center;
		    background-repeat: no-repeat;
		    border-right: 1px solid $c-blue;
		}
	}
}