.m-course-card {
	@include cf;
	background-color: $white;
	border: 1px solid $gs-1;
	box-shadow: 0 0 12px 0 rgba($black, 0.06);
	padding: 36px 31px  32px 50px;
	position: relative;
	max-width: 869px;
	margin-bottom: 89px;

	.a-dashboard-box-wide & {
		margin-bottom: 0;
		padding: 25px 20px;
	}

	&.m-course-card-disabled {

		.a-timeline-bullet-icon {
			background-image: linear-gradient(to right, $c-orange, $c-orange);
		}

		.m-course-card-wrapper {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	&.m-course-card-active,
	&.m-course-card-practical {

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 4px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&.m-course-card-active {

		&::before {
			background-image: linear-gradient(to right, $g-green);

			@include sc-breakpoint(640) {
				display: none;
			}

			.a-dashboard-box-wide & {

				@include sc-breakpoint(640) {
					display: block;
				}
			}
		}
	}

	&.m-course-card-practical {

		.a-timeline-bullet-icon {
			background-image: linear-gradient(to right, $c-blue, $c-blue);
		}

		&::before {
			background-image: linear-gradient(to right, $g-blue);

			@include sc-breakpoint(640) {
				display: none;
			}
		}
	}

	.m-course-card-points {
		position: absolute;
		top: 38px;
		right: 32px;
		font-size: 12px;
		color: $gs-4;

		@include sc-breakpoint(1024) {
			top: auto;
		}
	}

	.m-course-card-title {

		@include sc-breakpoint(1024) {
			max-width: 75%;
		}

		@include sc-breakpoint(768) {
			max-width: 50%;
		}

		@include sc-breakpoint(640) {
			max-width: 75%;
		}

		@include sc-breakpoint(425) {
			max-width: 50%;
		}
	}

	.m-course-card-description {
		color: $gs-5;

		.a-dashboard-box-wide & {

			@include sc-breakpoint(1110) {
				margin-bottom: 5px;
			}
		}
	}

	.m-course-card-progress {
		float: left;
		max-width: 350px;
		height: 50px;
		line-height: 50px;

		@include sc-breakpoint(1110) {
			max-width: 100%;
			float: none;
			margin-bottom: 65px;
		}

		@include sc-breakpoint(640) {
			margin-bottom: 5px;
		}

		@include sc-breakpoint(370) {
			height: auto;
			line-height: inherit;
			margin-bottom: 25px;
		}

		.a-dashboard-box-wide & {
			margin-bottom: 20px;
		}
	}

	.m-course-card-buttons {
		float: right;
		width: calc(100% - 350px);

		.a-button {
			display: block;
			float: right;

			& + .a-button {
				margin-right: 20px;

				@include sc-breakpoint(1110) {
					order: 1;
				}

				.a-dashboard-box-wide & {
					@include sc-breakpoint(1110) {
						order: 2;
					}
				}
			}

			.a-dashboard-box-wide & {
				max-width: 50%;
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}
			}

			@include sc-breakpoint(1110) {
				order: 2;
			}

			.a-dashboard-box-wide & {
				@include sc-breakpoint(1110) {
					order: 1;
				}
			}
		}

		.a-dashboard-box-wide & {
			display: flex;
			float: none;
			width: 100%;
		}

		@include sc-breakpoint(1110) {
			float: none;
			width: 100%;
			display: flex;
		}
	}

	.a-progress,
	.m-course-card-progress-status {
		display: inline-block;
		vertical-align: middle;
	}

	.m-course-card-progress-status {
		text-transform: uppercase;
		color: $gs-6;
		font-size: 12px;
		font-family: $apercu-bold;
		margin-left: 31px;

		@include sc-breakpoint(370) {
			margin-left: 0;
		}
	}

	@include sc-breakpoint(640) {
		margin-bottom: 39px;
	}

	@include sc-breakpoint(640) {
		box-shadow: none;
		border: 0;
		padding-left: 0;
		padding-top: 16px;
	}

	.a-dashboard-box-wide & {

		@include sc-breakpoint(640) {
			border: 1px solid $gs-1;
			box-shadow: 0 0 12px 0 rgba($black, 0.06);
		}		
	}
}

