.m-teacher {
	position: absolute;
	right: 10px;
	width: 110px;
	text-align: center;
	line-height: 1;
	color: $white;
	z-index: 2;
	
	a {
		display: inline-block;
		text-decoration: none;
	}

	.m-teacher-name,
	.m-teacher-title,
	.m-teacher-message, 
	.m-teacher-appointment {
		display: inline-block;
		font-size: 12px;
		line-height: 19px;
	}

	.m-teacher-name,
	.m-teacher-title {
		font-family: $apercu-bold;
	}

	.m-teacher-name {
		margin-top: 1em;
	}

	.m-teacher-message,
	.m-teacher-appointment {
		text-decoration: underline;
	}

	.a-ico-dropdown {
		display: block;
		width: 30px;
		height: 46px;
		position: absolute;
		right: -30px;
		top: 0;
		transition: all 0.3s ease-in-out;
	}

	&:hover {

		.a-ico-dropdown {
			top: 3px;
		}
	}

	.o-hero-medium & {
		top: 15px;
	}

	@include sc-breakpoint(640) {
		display: none;
	}
}