.a-burger-menu {
	cursor: pointer;
	width: 22px;
	height: 16px;
	transition: all .3s ease-in-out;
	position: relative;
	overflow: hidden;

	.b-show-menu & {
		height: 22px;
	}

	span {
		display: block;
		height: 2px;
		width: 100%;
		background-color: $white;
		position: absolute;
		left: 0;
		overflow: hidden;
		transition: all .3s ease-in-out;

		&:nth-child(1) {
			top: 0px;
			transform: rotate(0deg);

			.b-show-menu & {
				transform: rotate(135deg);
				top: 8px;
				left: 1px;
			}
		}

		&:nth-child(2) {
			top: 6px;
			left: 0;

			.b-show-menu & {
				opacity: 0;
				left: -20px;
			}
		}

		&:nth-child(3) {
		  top: 12px;
		  transform: rotate(0deg);

			.b-show-menu & {
				transform: rotate(-135deg);
				top: 8px;
				left: 1px;
			}
		}
	}

	&:hover {
		opacity: 0.5;
	}
}