.a-button {
	font-family: $apercu-bold;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 50px;
	height: 50px;
	max-width: 167px;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
	border: 0;

	&-primary {
		background-color: $c-blue;
		box-shadow: 0 10px 20px 0 rgba($black, 0.2);
		color: $white;
		transition: box-shadow 0.4s;

		&:hover {
			box-shadow: 0 10px 20px 0 rgba($black, 0.4);
		}

		&:active {
			box-shadow: none;
		}

		&:focus {
			outline: none;
		}
	}

	&-secondary {
		border-left: 1px solid $c-blue;
		border-right: 1px solid $c-blue;
		color: $c-blue;
		transition: all 0.4s;
		background-image: linear-gradient(to left, $c-blue, $c-blue), linear-gradient(to left, $c-blue, $c-blue);
		background-color: $white;
		background-size: 100% 1px;
		background-position: 0 100%,0 0;
		background-repeat: no-repeat;
		background-clip: border-box;

		&:hover {
			color: $c-green;
			background-image: linear-gradient(to left, $g-green), linear-gradient(to left, $g-green);
		}

		&:active {
			color: $c-blue;
			background-image: linear-gradient(to left, $g-green), linear-gradient(to left, $g-green);
		}
	}

	&-wide {
		max-width: 400px;
	}

	&-disabled,
	&:disabled {
		opacity: 0.3;
		cursor: default;
		pointer-events: none;
	}

	&-confirm {
		position: relative;
		padding-left: 40px !important;

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 25px;
			top: 35%;
			width: 6px;
			height: 12px;
			transform: rotate(45deg);
		}

		&.a-button-primary {

			&:before {
				border: solid $white;
				border-width: 0 2px 2px 0;
			}
		}

		&.a-button-secondary {

			&:before {
				border: solid $c-blue;
				border-width: 0 2px 2px 0;
				transition: border 0.3s;
			}

			&:hover {

				&:before {
					border: solid $c-green;
					border-width: 0 2px 2px 0;
				}
			}
		}
	}

	&-follow-link {
		position: relative;
		padding-right: 40px !important;

		&:before {
			content: '';
			display: block;
			position: absolute;
			right: 25px;
			top: 45%;

			width: 6px;
			height: 6px;
		 
			transform: rotate(-45deg);
		}

		&.a-button-primary {

			&:before {
				border: solid $white;
				border-width: 0 2px 2px 0;
			}
		}

		&.a-button-secondary {

			&:before {
				border: solid $c-blue;
				border-width: 0 2px 2px 0;
			}
		}
	}
}