.a-user-status {

	.o-nav-sidebar-wrapper & {
		display: none;

		@include sc-breakpoint(640) {
			display: block;
			text-align: center;
			vertical-align: middle;
			border-bottom: 0;
			background-color: $gs-9;
			padding: 40px 0 50px;

			.m-fixed-header-avatar,
			.m-fixed-header-stats {
				display: inline-block;
				vertical-align: middle;
			}

			.m-fixed-header-avatar {
				transform: scale(1.3);
				margin-right: 20px;
			}

			.m-fixed-header-stats {

				span {
					color: $white;
				}
			}
		}
	}
}