.a-chat-status {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	display: block;
	position: absolute;
	bottom: 4px;
	right: 1px;
	clip-path: url("#status-clip-path");

	&.a-chat-status-online {
		background-color: $c-green;
	}

	&.a-chat-status-busy {
		background-color: $c-red;
	}

	&.a-chat-status-away {
		background-color: $c-orange;
	}

	&.a-chat-status-offline {
		background-color: $gs-3;
	}
}