.a-dashboard-box {
	position: relative;
	padding-top: 20px;
	margin-right: 25px;
	float: left;
	width: 100%;
	margin-bottom: 20px;

	@include sc-breakpoint(640) {
		margin-right: 0;
		margin-bottom: 30px;
	}

	&:last-child {
		margin-right: 0;
	}

	.u-column-big-small & {

		&:first-child {
			margin-right: 0;
			order: 2;
		}

		&:last-child {
			margin-right: 25px;
			order: 1;

		}
	}

	.a-dashboard-box-title {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 12px;
		line-height: 15px;
		color: $gs-5;
	}

	&-wide {

		.u-column-big-small &,
		.u-column-three-small & {
			max-width: 65.8%;

			@include sc-breakpoint(768) {
				max-width: 58%;
			}

			@include sc-breakpoint(640) {
				max-width: 100%;
			}
		}
	}

	&-narrow {

		.u-column-big-small & {
			max-width: 31.65%;

			@include sc-breakpoint(768) {
				max-width: 38%;
			}

			@include sc-breakpoint(640) {
				max-width: 100%;
			}
		}

		.u-column-three-small & {

			@include sc-breakpoint(640) {
				max-width: 100%;
			}
		}
	}
}
