.a-timeline-bullet {
	position: absolute;
	left: -75px;
	top: 0;
	transform: translateX(-50%);

	@include sc-breakpoint(640) {
		left: -48px;
	}
}

.a-timeline-bullet-date,
.a-timeline-bullet-icon {
	display: inline-block;
	vertical-align: middle;
}

.a-timeline-bullet-date {
	font-size: 10px;
	line-height: 12px;
	color: $gs-5;
	width: 27px;

	@include sc-breakpoint(640) {
		position: absolute;
		right: auto;
		top: 6px;
		left: 75px;
		width: 100%;
	}
}

.a-timeline-bullet-icon {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 4px solid $white;
	box-shadow: 0 0 14px 0 rgba($black, 0.2);
	background-image: linear-gradient(45deg, $g-green);

	@include sc-breakpoint(640) {
		margin-left: 37px;
	}
}