.a-user-notifications {

	.m-nav-icons & {

		@include sc-breakpoint(640) {

			.a-menu-item {
				padding: 6px 10px 10px 10px;

				span {
					display: none;
				}

				.number {
					top: 4px;
					width: 16px;
					left: 28px;
					height: 16px;
					font-size: 10px;
					line-height: 15px;
					color: $gs-8;
					border: 1px solid $gs-8;
				}

				&.a-menu-item-notifications {

					.b-show-notification-center &,
					&:hover {
						background-color: $gs-8;

						.number {
							color: $gs-8;
							background-color: $white;
							
						}
					}

					.b-show-notification-center & {

						.number {
							border: 1px solid $white;
						}
					}
				}
				
				&:before {
					width: 34px;
					height: 34px;
					left: auto !important;
					top: auto;
					position: relative;
					margin: 0;
					left: auto;
					transform: translate(0);
				}
			}
		}
	}
}