.a-webinar-card {
	background-image: linear-gradient(45deg, $g-green);
	box-shadow: 0 20px 40px 0 rgba($black, 0.3);
	max-width: 270px;
	width: 100%;
	height: 415px;
	position: absolute;
	right: 110px;
	top: -35px;
	color: $white;
	padding: 30px;

	.o-hero-medium & {
		width: 270px;
		height: 230px;
		padding: 25px 20px;
		top: -20px;

		@include sc-breakpoint(800) {
			width: 220px;
			height: 260px;
		}

		@include sc-breakpoint(700) {
			width: auto;
		}
	}

	@include sc-breakpoint(1200) {
		right: 130px;
		width: 200px;
		padding: 20px;
	}

	@include sc-breakpoint(640) {
		position: relative;
	    right: 0;
	    top: 0;
	    padding: 20px;
	    height: 249px;
	    width: 100%;
	    max-width: 100%;
	    margin-bottom: -100px;
	}

	.a-webinar-card-date-day,
	.a-webinar-card-summary-description,
	.a-webinar-card-summary-host {
		font-size: 12px;
		line-height: 20px;
		margin-top: 0;
		font-family: $apercu-bold;
	}

	.a-webinar-card-date-month {
		font-size: 32px;
		line-height: 40px;
		font-family: $apercu-light;
		margin-top: 12px;
	}

	.a-webinar-card-summary {
		position: absolute;
		left: 30px;
		bottom: 30px;

		.o-hero-medium & {
			left: 20px;
			bottom: 20px;
		}

		@include sc-breakpoint(640) {
			left: 20px;
		}

	}

	.a-webinar-card-summary-title {
		text-transform: uppercase;
		margin-bottom: 0;
		font-family: $apercu-bold;
	}

	.a-webinar-card-summary-host {
		margin-bottom: 0;
	}
}