<section class="blog-page page">
    <a href="#" class="work-back-button"></a>
    <div class="blog-title">
        <h2>NOT MY BLOG</h2>
        <span>About how frontent development is (ususally) awesome!</span>
    </div>
    <div class="the-list">
        <h2 class="separator">2019</h2>
            include ../../../creative/blogposts/post.html
            include ../../../creative/blogposts/post2.html
        <h2 class="separator">2018</h2>
            include ../../../creative/blogposts/post3.html
            include ../../../creative/blogposts/post4.html
            include ../../../creative/blogposts/post5.html
        <h2 class="separator">2017</h2>
            include ../../../creative/blogposts/post6.html
    </div>
</section>