<div class="main-page">
    <div class="helper">
        <a href="#show-shell" id="f1"><strong>Press F1 for help</strong></a>
    </div>
    <header class="content">
        <img alt="N B M" src="assets/images/leme.jpg" class="header-img">
        <div class="texts">
            <h1 class="header-h1">HI! I'm <strong>NOTBIGMUZZY </strong></h1>
            <h2 class="header-h2">a <strong>FRONT-END DEVELOPER</strong></h2>
            <p>AND I SPECIALIZE IN WRITING <span>CLEAN, ELEGANT AND EFFICIENT CODE.</span></p>
        </div>
        <div class="buttons">
            <a href="#work" class="work"><span>WORK</span></a>
            <a href="#me" class="email"><span>ME</span></a>
            <a href="#blog" class="blog"><span>BLOG</span></a>
        </div>
    </header>
    <footer class="footer">
        <div class="notice">
            <label for="notice"><strong>Notice</strong></label>
            <input type="checkbox" id="notice" autocomplete="off">
            <label for="notice" class="copy-notice">Lorem ipsum sit doloret et at bolo vam suti lerim.<i class="copy-noticetriangle"></i></label>
        </div>

        <div class="icons">
            <a target="_blank" href="https://github.com/notbigmuzzy"><img alt="image" src="assets/images/ico/github.png" class="footer-right"></a>
            <a target="_blank" href="http://codepen.io/notbigmuzzy/pens/public/"><img alt="image" src="assets/images/ico/codepen.png" class="footer-right"></a>
        </div>
    </footer>
</div>