<aside>
    <div class="the-shell">
        
        <div class="switcher">
            <ul class="card-wrapper">
                <li class="card">
                    <a href="#" class="content">
                        111
                    </a>
                </li>
                <li  class="card">
                    <a href="#" class="content">
                        222
                    </a>
                </li>
                <li  class="card">
                    <a href="#" class="content">
                        333
                    </a>
                </li>
            </ul>
        </div>

        

    </div>
</aside>