<aside>
    <div class="the-shell">
        <div id="shell-overlay"></div>
        <div class="switcher">
            <ul class="card-wrapper">
                <li class="card">
                    <a href="index-new.html" id="card-content">
                        <span id="card-image" style="background-image:url(assets/images/cards/default.jpg)"></span>
                        <span id="card-label">Default</span>
                        <i id="card-triangle"></i>
                    </a>
                </li>
                <li  class="card">
                    <a href="c64.html" id="card-content">
                        <span id="card-image" style="background-image:url(assets/images/cards/c64.jpg)"></span>
                        <span id="card-label">c64</span>
                        <i id="card-triangle"></i>
                    </a>
                </li>
            </ul>
        </div>
        <a href="#" class="shell-off"></a>
    </div>
</aside>

include ../base/shell-colors.html