<aside>
    <div class="the-shell" id="js-the-shell">
        
        <div class="switcher">
            <ul class="card-wrapper">
                <li class="card">
                    <a href="index-new.html" class="content">
                        
                    </a>
                </li>
                <li  class="card">
                    <a href="c64.html" class="content">
                        
                    </a>
                </li>
                <li  class="card">
                    <a href="#" class="content">
                        
                    </a>
                </li>
            </ul>
        </div>

    </div>
</aside>