<section class="work-page page">
    <a href="#" class="work-back-button"></a>

    <div class="the-list">
        include ../../../creative/worklists/work.html
        include ../../../creative/worklists/work1.html
        include ../../../creative/worklists/work2.html
        include ../../../creative/worklists/work3.html
        include ../../../creative/worklists/work4.html
        include ../../../creative/worklists/work5.html
        include ../../../creative/worklists/work6.html
        include ../../../creative/worklists/work7.html
    </div>
</section>