<div class="c64-helper">
    <div class="commandbox help"> 
        <span class="title">List of all available commands and aliases:</span> 
        <span class="title">- <a href="#" class="help-menu-item" data-help-item="menu">MENU</a> <i>-- OPEN MENU</i></span>
        <span class="title">- <a href="#" class="help-menu-item" data-help-item="cat">CAT</a> <i>-- LIST AVAL. PROGRAMS</i></span>
        <span class="title">- <a href="#" class="help-menu-item" data-help-item="load">LOAD"<span>*</span>"</a> <i>-- LOAD PROGRAM</i></span>
        <span class="title">- <a href="#" class="help-menu-item" data-help-item="clear">CLEAR</a> <i>-- CLEAR SCREEN</i></span>
        <span class="title">- <a href="#" class="help-menu-item" data-help-item="help">HELP</a> <i>-- SHOW THIS SCREEN</i></span>
    </div>
    <div class="commandbox active"> 
        <span class="title">Ready.</span>
        <form autocomplete="off">
            <input type="text" id="editor" name="editor" autofocus="true" /> </form>
    </div>
</div>