<div class="c64-helper">
    <div class="commandbox help"> 
        <span class="title">Available commands:</span> 
        <span class="title">- <a href="#">SHELL</a></span>
        <span class="title">- <a href="#">LIST</a></span>
        <span class="title">- <a href="#">LOAD"<span>*</span>",8</a></span>
        <span class="title">- <a href="#">CLEAR</a> </span>
    </div>
    <div class="commandbox active"> 
        <span class="title">Ready.</span>
        <form autocomplete="off">
            <input type="text" id="editor" name="editor" autofocus="true" /> </form>
    </div>
</div>