<div class="c64-helper">
    <div class="commandbox help"> 
        <span class="title">List of all available commands and aliases:</span> 
        <span class="title">- <a href="#">SHELL</a> <i>-- OPEN OVERLAY</i></span>
        <span class="title">- <a href="#">HELP</a> <i>-- SHOW THIS SCREEN</i></span>
        <span class="title">- <a href="#">CAT</a> <i>-- LIST AVAL. PROGRAMS</i></span>
        <span class="title">- <a href="#">LOAD"<span>*</span>"</a> <i>-- LOAD PROGRAM</i></span>
        <span class="title">- <a href="#">CLEAR</a> <i>-- CLEAR SCREEN -- C / CTRL+C</i></span>
    </div>
    <div class="commandbox active"> 
        <span class="title">Ready.</span>
        <form autocomplete="off">
            <input type="text" id="editor" name="editor" autofocus="true" /> </form>
    </div>
</div>