<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
<meta name="description" content="Ivan Jovanovic - Frontend Developer portfolio showcasing web development projects, curriculum vitae, and interactive experiences.">
<meta name="google-site-verification" content="v1HUbvNQdVqqK0KY0QfuRCuQwTEfvIA59GZ2u4MoySg" />
<link rel="shortcut icon" href="assets/images/ico/icon.png">
<link rel="preload" href="assets/images/leme.jpg" as="image">
<link rel="preload" href="assets/images/darkmode.png" as="image">
<link href="assets/fonts/open-sans/open-sans.css" rel="stylesheet" type="text/css">
<!--CSS-->
<link href="index.css" rel="stylesheet" type="text/css" />
<!--TITLE-->
<title>N B M ~~~ @( * O * )@</title>