<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
<link rel="shortcut icon" href="assets/images/ico/icon.png">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700, 900" rel="stylesheet" type="text/css">
<!--CSS-->
<link href="index.css" rel="stylesheet" type="text/css" />
<!--TITLE-->
<title>NBM | Playground</title>