<div class="title highlight">Serbia Broadband, "SBB"</div>
<div class="date">2009-2011</div>
<div class="place">Belgrade, Serbia</div>
<div class="description">Call agent / Coordinator / Technical support</div>
<div class="description">Job consisted of registering inbound calls, quckly and precisely labeling them and preforming Tier 1 tech support. Later, I participated in coordination of technical teams and Tier 2 / in-office support.</div>
<hr>