<div class="title highlight">Sigma Shop</div>
<div class="date">2004-2007</div>
<div class="place">Obrenovac, Serbia</div>
<div class="description">Assistant worker and salesperson in a small IT shop.</div>
<hr>