<div class="title highlight">StuntCoders</div>
<div class="date">2017-2019</div>
<div class="place">Belgrade, Serbia</div>
<div class="description"><strong>Frontend / Magento Developer</strong></div>
<div class="description">I worked as independent Frontend developer on various <span class="highlight">E-commerce</span> projects mainly focusing on <span class="highlight">Magento</span> (1 & 2) and <span class="highlight">Woocommerce</span> projects written from scratch. Also, I created number of customized standalone elements which were used across large number of projects including <span class="highlight">dashboards, calendars, sliders, onepage checkouts and logins</span>, etc. Similarly, I took part in creating number of <span class="highlight">Woocommerce plugins</span> and <span class="highlight">Magento modules</span> which were highly customized per client requests.</div>
<hr>