<div class="title highlight">WebBay Solutions</div>
<div class="date">2016-2017</div>
<div class="place">Belgrade, Serbia</div>
<div class="description"><strong>Frontend / TYPO3 Developer</strong></div>
<div class="description">I began my work as a <span class="highlight">Frontend developer</span> and for a good part of the first year that was my main focus. In parallel I was learning TYPO3 CMS and in that same period, I also performed the role of <span class="highlight">TYPO3 integrator and developer</span> where I wrote couple of smaller PHP / Extbase extensions for various projects. Also, on several occasions I was given the part of a <span class="highlight">Project lead</span> on several website which I saw through until their successful launch. Towards the end, I participated in <span class="highlight">client meetings, project conception and mock-ups / wireframes sessions</span> and I did a whole lot of other miscellaneous tasks.</div>
<hr>