<div class="title highlight">Wireless Media</div>
<div class="date">2019- ... </div>
<div class="place">Belgrade, Serbia</div>
<div class="description"><strong>Frontend / Team Lead</strong></div>
<div class="description">I was part of the team that was responsible for <span class="highlight">rethinking, redesigning and rewriting</span> one of the bigest media/news portals in Serbia - <span class="highlight">Mondo</span> (mondo.rs) in 2019.</div>
<div class="description">Later on, we envisioned, planned and executed on an internal project codenamed <span class="highlight">Media theme</span> which allowed us to reuse big chunks of the codebase in other sites in WM/AMG portfolio (story.hr, wanted.rs, smartlife.rs, sensa.rs, lepaisrecna.rs, telekomserbia-production.com, etc..). <span class="highlight">Of interest</span> to note here is that the <span class="highlight">changes and improvements were bi-directional</span> meaning that any improvement in "child" site was <span class="highlight">automatically available to all other sites</span> in the network, which <span class="highlight">massively improved implementation times and cut major cost on maintenance</span>.</div>
<div class="description">Large part of our efforts went into optimizing <span class="highlight">frontend performance</span>, focusing on <span class="highlight">Web vitals (LCP, TBT & CLS)</span> and a bunch of <span class="highlight">custom architecture and code</span> which enabled Mondo to jump and stay at top 3 visited news portals in the country.</div>

<hr>