doctype html
html(lang='en')
    head
        //HEAD STUFF
        <meta name="theme-color" content="#460002" />
        <link rel="stylesheet" media="print" href="print.css" />
        include base/head.pug
    body.index
        //BODY 
        include page/page-cv.pug
        //SHELL
        include layout/shell.pug
        // SCRIPTS
        include base/scripts.pug
        include base/cv-scripts.pug