doctype html
html(lang='en')
    head
        //HEAD STUFF
        include page/head.html
    body
        //BODY
        // include layout/header.html
        // include layout/footer.html

        //SHELL
        include layout/shell.html
        // SCRIPTS
        include page/scripts.html
