doctype html
html(lang='en')
    head
        //HEAD STUFF
        <meta name="theme-color" content="#ff6a8a" />
        include base/head.pug
    body.vapor
        //BODY 
        include page/page-vapor.pug
        //SHELL
        include layout/shell.pug
        // SCRIPTS
        include base/scripts.pug
        include base/vapor-scripts.pug