doctype html
html(lang='en')
    head
        //HEAD STUFF
        include base/head.pug
    body
        //BODY 
        include page/page-vapor.pug
        //SHELL
        include layout/shell.pug
        // SCRIPTS
        include base/scripts.pug