div.page3-wrapper
	div.page3-menu-button MENU
	div.page3-close-menu CLOSE MENU	

	//- MAIN LIST
	div.page3-menu-wrapper
		div#page3-user
			img.page3-user-img(src="menus/3/user.jpg")
			div.page3-user-txt Joanna Doe
		ul.page3-list
			li.page3-list-item#page3-item-with-icon
				div.fa.fa-pie-chart.list-icon
				span My Plate
			li.page3-list-item#page3-item-with-icon
				div.fa.fa-envelope-o.list-icon.red-ico
				div 
					span.messages-button.red Messages - 3
			li.page3-list-item.page3-list-settings 
				span Settings
			li.page3-list-item.page3-list-default 
				span Profile
			li.page3-list-item.page3-list-default 
				span Privacy and Sharing
			li.page3-list-item.page3-list-default 
				span Push Notifications
			li.page3-list-item#page3-item-with-icon
				div.fa.fa-question.list-icon
				div 
					span Help and FAQ
			li.page3-list-item.page3-list-default 
				span About Us
			li.page3-list-item.page3-list-default 
				span FAQ
			li.page3-list-item.page3-list-default 
				span Terms of Service
			li.page3-list-item.page3-list-default 
				span Tutorials
			li.page3-list-item#page3-item-with-icon 
				div.fa.fa-comment.list-icon
				span Feedback
			li.page3-list-item#page3-item-with-icon 
				div.fa.fa-power-off.list-icon
				span Sign Out			

		div.page3-panel

			//- BACK BUTTON
			div.page3-panel-close < Back

			//- MESSAGES SUB-PANEL
			div.page3-panel-messages
				div.page3-message-body
					div.message-body-img.pg3-img1
						img(src="menus/3/user.jpg")
					div.message-body-text
						div.body-text-text This is just a preview of text. Click for full. Lorem ipsum babana. That is this is that. This now is full message. This now is full message. This now is full message. That is this is that. This now is full message. This now is full message. This now is full message. That is this is that. This now is full message. This now is full message. This now is full message.
					div.body-text-reply.pg3-reply1 Reply
					div.message-body-reply
						textarea.body-reply Reply here ..
						div.body-reply-cancel.pg3-cancel1 Cancel
						div.body-reply-send Send
				div.page3-message-body
					div.message-body-img.pg3-img2
						img(src="menus/3/user.jpg")
					div.message-body-text
						div.body-text-text Nulla commodo nulla ante aliquam a aenean, venenatis blanditiis, venenatis volutpat vitae. Donec quisque mollis lacus vitae ornare, diam ligula vitae ligula sed, urna vestibulum magna, fusce leo urna quis odio et sit. Lectus in pede cras. Platea gravida proin neque, praesent elit vitae purus erat integer nec, eu sed. Sit velit pellentesque vestibulum vel id, morbi neque ligula, et maecenas natoque sagittis egestas ut, ligula vel suspendisse, tristique tempus laoreet felis asperiores dignissim.
					div.body-text-reply.pg3-reply2 Reply
					div.message-body-reply
						textarea.body-reply Reply here ..
						div.body-reply-cancel.pg3-cancel2 Cancel
						div.body-reply-send Send
				div.page3-message-body
					div.message-body-img.pg3-img3
						img(src="menus/3/user.jpg")
					div.message-body-text
						div.body-text-text  Fringilla in et mi est et, tortor ipsum sed tristique eget. Enim nec, sapien id potenti, pretium pede mauris nunc vitae est erat, tristique vehicula nulla, pede porttitor magna massa fusce. Quisque sint felis blandit fusce, donec at turpis, sociis orci ipsum imperdiet metus, wisi euismod consectetuer nonummy mi. Tempus enim sit, vel pede pellentesque, tempor ultrices in ut, amet nullam vulputate ipsum mollis auctor eu. Urna rutrum in, porttitor eget integer dapibus commodo, euismod sem vivamus curabitur erat praesent, massa justo suscipit laoreet adipiscing feugiat, enim ac lacus sapien.
					div.body-text-reply.pg3-reply3 Reply
					div.message-body-reply
						textarea.body-reply Reply here ..
						div.body-reply-cancel.pg3-cancel3 Cancel
						div.body-reply-send Send

	//- GENERAL BODY
	div.page3-body