div.page4-wrapper

	//- WHOLE MENU WRAPPER
	div.page4-menuwrap

		//- SMALLER MENU ON LEFT WITH ICONS
		div.page4-menu-left
			div.page4-menu-leftlogo NBM
			ul.page4-menu-leftpicker
				li.page4-menu-leftpick.page4-menubutton-icon1.page4-menu-leftpick-clicked
					.fa.fa-building-o
				li.page4-menu-leftpick.page4-menubutton-icon2
					.fa.fa-folder-o
				li.page4-menu-leftpick.page4-menubutton-icon3
					.fa.fa-hdd-o
			div.page4-menu-leftsettings
				.fa.fa-cog

		//- BIGGER MENU ON RIGHT WITH INFO PANELS
		div.page4-menu-right

			div.page4-menu-infopanel.page4-menu-panel1.pg4-panel-visible
				img.pg4-menu-user(src="menus/4/user.jpg")
				div.pg4-menu-username Augus Chen
				div.pg4-menu-usertxt Platea gravida proin neque, praesent elit vitae purus erat integer nec, eu sed. Sit velit pellentesque vestibulum vel id, morbi neque ligula, et maecenas natoque sagittis egestas ut, ligula vel suspendisse, tristique tempus laoreet felis asperiores dignissim.Platea gravida proin neque, praesent elit vitae purus erat integer nec, eu sed. 
					br
					|Sit velit pellentesque vestibulum vel id, morbi neque ligula, et maecenas natoque sagittis egestas ut, ligula vel suspendisse, tristique tempus laoreet felis asperiores dignissim.

			div.page4-menu-infopanel.page4-menu-panel2
				ul.page4-menupanel-list
					li Option 1
					li Option 2
					li Option 3
					li Option 4
					li Option 5
					li Option 6


			div.page4-menu-infopanel.page4-menu-panel3
				div.pg4-menu-usertxt Platea gravida proin neque, praesent elit vitae purus erat integer nec, eu sed. Sit velit pellentesque vestibulum vel id, morbi neque ligula, et maecenas natoque sagittis egestas ut, ligula vel suspendisse, tristique tempus laoreet felis asperiores dignissim.Platea gravida proin neque, praesent elit vitae purus erat integer nec, eu sed. 
					br
					|Sit velit pellentesque vestibulum vel id, morbi neque ligula, et maecenas natoque sagittis egestas ut, ligula vel suspendisse, tristique tempus laoreet felis asperiores dignissim.Platea gravida proin neque, praesent elit vitae purus erat integer nec, eu sed. Sit velit pellentesque vestibulum vel id, morbi neque ligula, et maecenas natoque sagittis egestas ut, ligula vel suspendisse, tristique tempus laoreet felis asperiores dignissim.Platea gravida proin neque, praesent elit vitae purus erat integer nec, eu sed. 
					br
					|Sit velit pellentesque vestibulum vel id, morbi neque ligula, et maecenas natoque sagittis egestas ut, ligula vel suspendisse, tristique tempus laoreet felis asperiores dignissim.

	//- BODY
	div.page4-body
		div.item
			div.page4-itempic.page4-itempic1
			div.page4-itemtitle Design Book
			div.page4-itemtext Lorem ipsum at sit velit id.
		div.item
			div.page4-itempic.page4-itempic2
			div.page4-itemtitle Design Book
			div.page4-itemtext Dignissim platea gravida.
		div.item
			div.page4-itempic.page4-itempic3
			div.page4-itemtitle Design Book
			div.page4-itemtext Sit velit pellentesque vestibulum.			
		div.item
			div.page4-itempic.page4-itempic4
			div.page4-itemtitle Design Book
			div.page4-itemtext Lorem ipsum at sit velit id.			
		div.item
			div.page4-itempic.page4-itempic5
			div.page4-itemtitle Design Book
			div.page4-itemtext Lorem ipsum at sit velit id.			
		div.item
			div.page4-itempic.page4-itempic6
			div.page4-itemtitle Design Book
			div.page4-itemtext Lorem ipsum at sit velit id.			
		div.item
			div.page4-itempic.page4-itempic7
			div.page4-itemtitle Design Book
			div.page4-itemtext Lorem ipsum at sit velit id.			
		div.item
			div.page4-itempic.page4-itempic8
			div.page4-itemtitle Design Book
			div.page4-itemtext Lorem ipsum at sit velit id.			
		div.item
			div.page4-itempic.page4-itempic9
			div.page4-itemtitle Design Book
			div.page4-itemtext Lorem ipsum at sit velit id.			
		div.item
			div.page4-itempic.page4-itempic10
			div.page4-itemtitle Design Book
			div.page4-itemtext Lorem ipsum at sit velit id.			
		div.item
			div.page4-itempic.page4-itempic11
			div.page4-itemtitle Design Book
			div.page4-itemtext Lorem ipsum at sit velit id.			
		div.item
			div.page4-itempic.page4-itempic12
			div.page4-itemtitle Design Book
			div.page4-itemtext Lorem ipsum at sit velit id.			
		div.item-blank
			div.page4-itempic.page4-itempic13
			div.page4-itemtitle Design Book
			div.page4-itemtext Lorem ipsum at sit velit id.			

	//- BOTTOM BAR
	div.page4-bottom-bar
		img.page4-menu-button(src="menus/4/menu.png")
		div Topics
		img.page4-bottom-text(src="menus/4/write.png")