div.page6-wrapper


	div.page6-menu-wrapper

		div.pg6-menu-img
			div.pg6-menu-img-left
				.fa.fa-bookmark-o.pg6-yellow-highlight
				span.pg6-menu-topstats 45
			img.pg6-menu-img-center(src="menus/2/user.jpg")
			div.pg6-menu-img-right
				.fa.fa-bar-chart
				span.pg6-menu-topstats 8.5


		div.pg6-menu-name JOANNA DOE


		div.pg6-menu-stats
			div.pg6-menu-stats-left
				span 235
				br
				span2 FOLLOWERS
			div.pg6-menu-stats-center
				span 24
				br
				span2 RECIPES
			div.pg6-menu-stats-right
				span 91
				br
				span2 FOLLOWING



		ul.pg6-menu-items
			li.pg6-yellow-highlight
				spanico.fa.fa-bell
				spantxt.pg6-yellow-highlight Recipes
			li 
				spanico.fa.fa-fire
				spantxt Exclusive
				spanno 13				
			li 
				spanico.fa.fa-user
				spantxt Users
			li 
				spanico.fa.fa-whatsapp
				spantxt Feed
			li 
				spanico.fa.fa-star
				spantxt My Collection
			li 
				spanico.fa.fa-cog
				spantxt Settings













	div.page6-body
	div.page6-menu-button MENU