<div>
	<h1>IVAN JOVANOVIC</h1>
	<h2>Web developer</h2>
	<a href="mailto:notbigmuzzy@gmail.com">📫</a>
</div>
<div>
	<span class="sub-title">THIS IS MY</span>
	<span class="title">RESUME</span>		
</div>