<div class="cv-header">
	<div>
		<p class="name">IVAN JOVANOVIC</p>
		<p class="phone">060/710-9830</p>
		<p class="ocupation">
			<a href="mailto:notbigmuzzy@gmail.com" aria-label="Email Ivan Jovanovic">notbigmuzzy@gmail.com</a>
		</p>
	</div>
	<p class="resume">Curriculum Vitae</p>
</div>