<div class="cv-hoby">
	<div class="description">I treat my hobbies with diversity, splitting my spare time between a great passion for <span class="highlight">literature</span> and music. I play <span class="highlight">several instruments</span> and have a special love for the <span class="highlight">80's</span> era.</div>
</div>