<div class="cv-hoby">
	<div class="description">I treat my hobbies with a little less focus and a bit more diversity so my spare time is split between great passion for <span class="highlight">literature </span> and a need to be physically active ( read: avid and quite competetive <span class="highlight">basketball </span>player ). Also I love the <span class="highlight">80's </span>music :)</div>
</div>