div.cv-summary.full-card
	h2.title ... some of the tech I've had hands-on experience with
	ul.tech-list
		li vanilla JS
		li Vue.js
		li Three.js
		li jQuery
		li GSAP
		li Node
		li Pug (❤️ Jade)
		li Handlebars.js
		li Razor
		li Spark
		li SCSS
		li SASS
		li Less
		li BEM
		li SMACSS
		li Atomic
		li Component-Scoped Styles
		li Webpack
		li Vite
		li Gulp
		li Grunt
		li Wordpress
		li Drupal
		li Magento
		li Woocommerce
		li Typo3
		li Custom CMS (Origami)
		li Git
		li SVN
		li RESTful APIs
		li AJAX
		li Cypress
		li PHP (sort of)
		li Typoscript (not a typo 😁)
		li Lua
		li Docker
		li Vagrant
		li Jenkins
		li Linux (Debian, CentOS)
		li CLI tools
		li Bash scripting
		li Grep | Sed | Awk
		li Web Vitals
		li LCP | FID | CLS
		li PWA
		li Wireframing
		li Mockups
		li Scrum
		li Kanban
		li a11y / WCAG