div.cv-summary.full-card
	h2.title Technical Proficiency & Tooling

	.tech-category
		h3 Core & Modern Frontend
		ul.tech-list
			li TypeScript
			li React
			li Vue.js
			li JavaScript (ES6+)
			li Node.js
			li RESTful APIs / AJAX
			li PWA

	.tech-category
		h3 Styling & Architecture
		ul.tech-list
			li Tailwind CSS
			li SCSS / SASS
			li BEM / SMACSS
			li CSS Grid / Flexbox
			li Component-Scoped Styles
			li Atomic Design

	h2.title.for-print-only Technical Proficiency & Tooling
	.tech-category
		h3 Build, CI/CD & DevOps
		ul.tech-list
			li Vite
			li Webpack
			li NPM / Yarn
			li Azure DevOps
			li Jenkins
			li Git
			li Docker
			li Linux Environments (Bash/CLI)

	.tech-category
		h3 Performance, QA & Workflow
		ul.tech-list
			li Web Vitals (LCP/FID/CLS)
			li Cypress Testing
			li a11y / WCAG
			li Scrum / Kanban
			li Mockups / Wireframing

	.tech-category
		h3 CMS & Backend Integration
		ul.tech-list
			li Magento 1 & 2
			li WordPress / WooCommerce
			li PHP
			li Drupal
			li Typo3

	.tech-category
		h3 Creative, Legacy & Other
		ul.tech-list
			li Three.js
			li GSAP
			li jQuery
			li Pug (Jade)
			li Gulp / Grunt
			li Bootstrap
			li SVN