<div class="c64-portfolio" id="portfolio">
    <div class="editor">
        <div class="top-of-editor">
            <p>
                <span class="h-m">****</span>
                <span> COMMODORE 64 BASIC V2 </span>
                <span class="h-m">****</span></p>
            <p>64K RAM SYSTEM 38911 BASIC BYTES FREE</p>
        </div>

        <div class="editor-input">
            <div class="commandbox active">
                <span class="title">READY.</span>
                <form autocomplete="off">
                    <input type="text" id="editor" name="editor" autofocus="true"/>
                </form>
            </div>
        </div>

        <div class="hint-button h-d">
            <input type="checkbox" id="hb" autocomplete="off"></input>
            <label for="hb" class="the-button">
                <span class="s-m">i</span>
                <span class="c-m">x</span>
            </label>
            <ul class="hint-list">
                <li>
                    <label for="hb">
                        <span>Type help</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>