<div class="vapor-portfolio" id="portfolio">
	<div class="desktop">
		<ul class="icons">
			<li>
				<a class="icon" href="#show-shell">
					<img src="assets/images/ico/vapor/shell.png" alt="ICO" />
					<span class="label">Shell</span>
				</a>
			</li>
			<li>
				<i class="icon">
					<img src="assets/images/ico/vapor/player.png" alt="ICO" />
					<span class="label">Video</span>
				</i>
			</li>
		</ul>
	</div>    

	<div class="taskbar">
		<i class="start-button">Start</i>
		<ul class="button-bar">
			<li><i class="icon" style="background-image: url(assets/images/ico/vapor/desktop.png)"></i></li>
		</ul>
		<ul class="tasks">
			<li><i class="window">Window Explorer</i></li>
			<li><i class="window">Photoshop</i></li>
			<li><i class="window">Documents</i></li>
		</ul>
		<ul class="tray">
			<li><i class="icon" style="background-image: url(assets/images/ico/vapor/calendar.png)"></i></li>
			<li><i class="icon" style="background-image: url(assets/images/ico/vapor/volume.png)"></i></li>
		</ul>
		<i class="clock">14:16</i>
	</div>
</div>