<div class="vapor-portfolio" id="portfolio">
<div class="wallpaper action" data-action="default">
<img src="assets/images/vapor-wallpaper.jpg"/>
</div>
<div class="desktop">
<ul class="icons">
<li>
<i class="icon action" data-action="show-shell">
<img src="assets/images/ico/vapor/shell.png" alt="ICO" />
<span class="label">Shell</span>
</i>
</li>
<li>
<i class="icon">
<img src="assets/images/ico/vapor/player.png" alt="ICO" />
<span class="label">Video</span>
</i>
</li>
</ul>
</div>    
<div class="taskbar">
<div class="bar-background action" data-action="default"></div>
<div class="start-wrapper">
<i class="start-button action" data-action="show-menu">Start</i>
<ul class="menu start-menu">
<li><span>Windows update</span></li>
<br/>
<li class="has-submenu"><img src="assets/images/ico/vapor/programs.png"/><span>Programs</span></li>
<li class="has-submenu"><span>Favourites</span></li>
<li class="has-submenu"><span>Documents</span></li>
<li><span>Help</span></li>
<br/>
<li><span>Log off</span></li>
<li><span>Shut Down</span></li>
</ul>	
</div>
<ul class="button-bar">
<li><i class="icon" style="background-image: url(assets/images/ico/vapor/desktop.png)"></i></li>
</ul>
<ul class="tasks">
<li><i class="window">Window Explorer</i></li>
<li><i class="window">Photoshop</i></li>
<li><i class="window">Documents</i></li>
</ul>
<ul class="tray">
<li><i class="icon" style="background-image: url(assets/images/ico/vapor/calendar.png)"></i></li>
<li><i class="icon" style="background-image: url(assets/images/ico/vapor/volume.png)"></i></li>
</ul>
<i class="clock">14:16</i>
</div>
</div>