<div class="vapor-portfolio" id="portfolio">
	<div class="wallpaper action" data-action="default">
		<img src="assets/images/vapor-wallpaper.jpg"/>
	</div>
	<div class="desktop action">
		<ul class="icons">
			<li>
				<i class="icon action" data-action="show-shell">
					<img src="assets/images/ico/vapor/shell.png" alt="ICO" />
					<span class="label">Shell</span>
				</i>
			</li>
			<li>
				<i class="icon launch" data-url="video" data-skin="video" data-name="Video" data-top="100" data-left="100" data-width="640" data-height="480">
					<img src="assets/images/ico/vapor/player.png" alt="ICO" />
					<span class="label">Video</span>
				</i>
			</li>
		</ul>
		<ul class="icons right">
			<li>
				<i class="icon launch" data-url="me" data-name="Documents" data-top="100" data-right="100" data-width="600" data-height="400">
					<img src="assets/images/ico/vapor/documents.png" alt="ICO" />
					<span class="label">Docs</span>
				</i>
			</li>
		</ul>

		<div class="root"></div>
	</div>    
	<div class="taskbar">
		<div class="bar-background action" data-action="default"></div>
		<div class="start-wrapper">
			<i class="start-button action" data-action="show-menu"><img src="assets/images/ico/vapor/logo.png"/><span>Start</span></i>
			<ul class="menu start-menu">
				<li><span><img src="assets/images/ico/vapor/update.png"/>Windows update</span></li>
				<br/>
				<li class="has-submenu">
					<img src="assets/images/ico/vapor/programs.png"/><span>Programs</span>
					<ul class="submenu">
						<li class="launch" data-url="notepad" data-name="Notepad" data-top="200" data-left="50" data-width="500" data-height="600">
							<img src="assets/images/ico/vapor/notepad.png"/><span>Notepad</span>
						</li>
						<li><img src="assets/images/ico/vapor/calculator.png"/><span>Calculator</span></li>
						<li><img src="assets/images/ico/vapor/internet.png"/><span>Internet</span></li>
					</ul>
				</li>
				<li class="has-submenu"><img src="assets/images/ico/vapor/favorites.png"/><span>Favourites</span></li>
				<li class="has-submenu"><img src="assets/images/ico/vapor/documents.png"/><span>Documents</span></li>
				<li><img src="assets/images/ico/vapor/help.png"/><span>Help</span></li>
				<br/>
				<li><img src="assets/images/ico/vapor/logoff.png"/><span>Log off</span></li>
				<li><img src="assets/images/ico/vapor/shutdown.png"/><span>Shut Down</span></li>
			</ul>	
		</div>
		<ul class="button-bar">
			<li><i class="icon" style="background-image: url(assets/images/ico/vapor/desktop.png)"></i></li>
		</ul>
		<ul class="tasks"></ul>
		<ul class="tray">
			<li><i class="icon" style="background-image: url(assets/images/ico/vapor/calendar.png)"></i></li>
			<li><i class="icon" style="background-image: url(assets/images/ico/vapor/volume.png)"></i></li>
		</ul>
		<i class="clock" id="clock">00:00</i>
	</div>
</div>