<div class="vapor-portfolio" id="portfolio">
	<div class="wallpaper action" data-action="default">
		<img src="assets/images/vapor-wallpaper.jpg"/>
	</div>
	<div class="desktop action">
		<ul class="icons">
			<li>
				<i class="icon action" data-action="show-shell">
					<img src="assets/images/ico/vapor/shell.png" alt="ICO" />
					<span class="label">My Computer</span>
				</i>
			</li>
			<li>
				<i class="icon" data-action="">
					<img src="assets/images/ico/vapor/trash.png" alt="ICO" />
					<span class="label">Recycle Bin</span>
				</i>
			</li>
			<li>
				<i class="icon launch" data-url="internet" data-address="http://frogfind.com" data-skin="browser" data-menu="false" data-name="Internet Explorer" data-statusbar-content="Internet Explorer" data-top="20" data-left="50" data-width="1024" data-height="700">
					<img src="assets/images/ico/vapor/internet.png" alt="ICO" />
					<span class="label">iExplore</span>
				</i>
			</li>
			<li>
				<i class="icon launch" data-url="doom" data-skin="video" data-menu="false" data-statusbar="false" data-name="DOOM" data-statusbar-content="Internet Explorer" data-top="50" data-left="100" data-width="560" data-height="384">
					<img src="assets/images/ico/vapor/doom.png" alt="ICO" />
					<span class="label">Doom</span>
				</i>
			</li>
		</ul>
		<ul class="icons right">
			<li>
				<i class="icon launch" data-url="me" data-name="Documents" data-statusbar-content="My Documents" data-top="100" data-right="100" data-width="600" data-height="400">
					<img src="assets/images/ico/vapor/documents.png" alt="ICO" />
					<span class="label">Docs</span>
				</i>
			</li>
			<li>
				<i class="icon launch" data-url="video" data-skin="video" data-menu="false" data-statusbar="false" data-name="Spaceballs - State Of The Art - Amiga Demo" data-top="100" data-left="100" data-width="640" data-height="480">
					<img src="assets/images/ico/vapor/video-file.png" alt="ICO" />
					<span class="label">dance.avi</span>
				</i>
			</li>
		</ul>
		<div class="root"></div>
	</div>    
	<div class="taskbar">
		<div class="bar-background action" data-action="default"></div>
		<div class="start-wrapper">
			<i class="start-button action" data-action="show-menu"><img src="assets/images/ico/vapor/logo.png"/><span>Start</span></i>
			<ul class="menu start-menu">
				<li class="action" data-action="show-shell"><span><img src="assets/images/ico/vapor/update.png"/>My Stuff</span></li>
				<br/>
				<li class="has-submenu">
					<img src="assets/images/ico/vapor/programs.png"/><span>Programs</span>
					<ul class="submenu">
						<li class="launch" data-url="notepad" data-name="Notepad" data-top="200" data-left="50" data-width="500" data-height="600">
							<img src="assets/images/ico/vapor/notepad.png"/><span>Notepad</span>
						</li>
						<li><img src="assets/images/ico/vapor/calculator.png"/><span>Calculator</span></li>
						<li class="icon launch" data-url="internet" data-address="http://frogfind.com" data-skin="browser" data-menu="false" data-name="Internet Explorer" data-statusbar-content="Internet Explorer" data-top="20" data-left="50" data-width="1024" data-height="700">
							<img src="assets/images/ico/vapor/internet.png"/><span>Internet</span>
						</li>
					</ul>
				</li>
				<li class="has-submenu">
					<img src="assets/images/ico/vapor/favorites.png"/><span>Favourites</span>
					<ul class='submenu'>
						<li class="launch" data-url="internet" data-address="http://68k.news" data-skin="browser" data-menu="false" data-name="Internet Explorer" data-statusbar-content="Internet Explorer" data-top="20" data-left="50" data-width="1024" data-height="700">
							<img src="assets/images/ico/vapor/msn.png"/><span>68k.news</span>
						</li>
						<li class="launch" data-url="internet" data-address="http://frogfind.com" data-skin="browser" data-menu="false" data-name="Internet Explorer" data-statusbar-content="Internet Explorer" data-top="20" data-left="50" data-width="1024" data-height="700">
							<img src="assets/images/ico/vapor/msn.png"/><span>frogfind.com</span>
						</li>
						<li class="launch" data-url="internet" data-address="https://www.cameronsworld.net/" data-skin="browser" data-menu="false" data-name="Internet Explorer" data-statusbar-content="Internet Explorer" data-top="20" data-left="50" data-width="1024" data-height="700">
							<img src="assets/images/ico/vapor/msn.png"/><span>cameronsworld</span>
						</li>
						<li class="launch" data-url="internet" data-address="https://www.spacejam.com/1996/" data-skin="browser" data-menu="false" data-name="Internet Explorer" data-statusbar-content="Internet Explorer" data-top="20" data-left="50" data-width="1024" data-height="700">
							<img src="assets/images/ico/vapor/msn.png"/><span>Space_jam</span>
						</li>
						<li class="launch" data-url="internet" data-address="https://fogcam.org" data-skin="browser" data-menu="false" data-name="Internet Explorer" data-statusbar-content="Internet Explorer" data-top="20" data-left="50" data-width="1024" data-height="700">
							<img src="assets/images/ico/vapor/msn.png"/><span>cam cam cam</span>
						</li>
						<li class="launch" data-url="internet" data-address="https://distantskies.neocities.org/" data-skin="browser" data-menu="false" data-name="Internet Explorer" data-statusbar-content="Internet Explorer" data-top="20" data-left="50" data-width="1024" data-height="700">
							<img src="assets/images/ico/vapor/msn.png"/><span>distantskies</span>
						</li>
						<li class="launch" data-url="internet" data-address="https://exo.pet/" data-skin="browser" data-menu="false" data-name="Internet Explorer" data-statusbar-content="Internet Explorer" data-top="20" data-left="50" data-width="1024" data-height="700">
							<img src="assets/images/ico/vapor/msn.png"/><span>Exopets</span>
						</li>
					</ul>
				</li>
				<li class="has-submenu"><img src="assets/images/ico/vapor/documents.png"/><span>Documents</span></li>
				<li><img src="assets/images/ico/vapor/help.png"/><span>Help</span></li>
				<br/>
				<li><img src="assets/images/ico/vapor/logoff.png"/><span>Log off</span></li>
				<li><img src="assets/images/ico/vapor/shutdown.png"/><span>Shut Down</span></li>
			</ul>	
		</div>
		<ul class="button-bar">
			<li><i class="icon" style="background-image: url(assets/images/ico/vapor/desktop.png)"></i></li>
		</ul>
		<ul class="tasks"></ul>
		<ul class="tray">
			<li><i class="icon" style="background-image: url(assets/images/ico/vapor/calendar.png)"></i></li>
			<li><i class="icon" style="background-image: url(assets/images/ico/vapor/volume.png)"></i></li>
		</ul>
		<i class="clock" id="clock">00:00</i>
	</div>
</div>