<div class="c64-portfolio" id="portfolio">
    <div class="editor">
        <div class="top-of-editor">
            <p>
                <span class="h-m">****</span>
                <span> COMMODORE 64 BASIC V2 </span>
                <span class="h-m">****</span></p>
            <p>64K RAM SYSTEM 38911 BASIC BYTES FREE</p>
        </div>

        <div class="editor-input">
            <div class="commandbox active">
                <span class="title">READY.</span>
                <form autocomplete="off">
                    <input type="text" id="editor" name="editor" autofocus="true"/>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="c64-hints">
    <input type="checkbox" id="hb" autocomplete="off"></input>
    <label for="hb">
        <span class="the-button h-d">
            <span class="s-m">i</span>
            <span class="c-m">x</span>
        </span>
        <span class="the-label h-m">Type <i>help</i> to start</span>
    </label>
    <ul class="hint-list">
        <p class="list-title">Hints list</p>
        <li>
            <label for="hb">
                <span class="green">F1.</span><span class="lightblue">Site overlay</span>
                <p class="green">Type: shell</p>
            </label>
        </li>
        <li>
            <label for="hb">
                <span class="green">F2.</span><span class="lightblue">Get help</span>
                <p class="green">Type: help</p>
            </label>
        </li>
        <li>
            <label for="hb">
                <span class="green">F3.</span><span class="lightblue">List entries</span>
                <p class="green">Type: list"*"</p>
            </label>
        </li>
        <li>
            <label for="hb">
                <span class="green">F4.</span><span class="lightblue">Load content</span>
                <p class="green">Type: load"*"</p>
            </label>
        </li>
        <p class="list-footer">Select (F1/F4)?</p>
    </ul>
</div>