<div class="c64-portfolio" id="portfolio">
    <div class="editor">
        <div class="top-of-editor">
            <p>**** COMMODORE 64 BASIC V2 ****</p>
            <p>64K RAM SYSTEM 38911 BASIC BYTES FREE</p>
        </div>

        <div class="editor-input">
            <div class="commandbox active">
                <span class="title">READY.</span>
                <form autocomplete="off">
                    <input type="text" id="editor" name="editor" autofocus="true"/>
                </form>
            </div>
        </div>
    </div>
</div>