<div class="cv-portfolio" id="portfolio">
	<div class="wrapper-left">
		<input type="checkbox" id="cv-toggle" autocomplete="off">
		<label class="cv-toggle" for="cv-toggle">
			<div class="the-cv">
				include ../partials/cv/header.pug
				include ../partials/cv/experience.pug
				include ../partials/cv/education.pug
				include ../partials/cv/hoby.pug
			</div>
			<label class="cv-toggle-close" for="cv-toggle">x</label>
			<a href="javascript:window.print()" download><span class="cv-download-button">print<br>copy</span>
			</a>
		</label>
	</div>
	<div class="wrapper-right">
		include ../partials/cv/content.pug
	</div>
</div>