doctype html
html
	head
		title r.a.d.i.o.
		meta(charset='utf-8')
		meta(name="description" content="Najbolje radio stanica, Srbija.")
		meta(name="author" content="Not Big Muzzy")
		meta(name="copyright" content="Not Big Muzzy 2015")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(type="text/css", rel="stylesheet", href="index.css")
		link(rel="stylesheet" href="fonts/awesome/css/font-awesome.min.css")
		link(rel="shortcut icon" href="icons/icon.ico")
	body
		div.full-cover
		div.plejliste-iframe
			div.load-spinner.fa.fa-pulse.fa-spinner
			iframe.plejlista-frejm(scrolling="no", src="")





		//- FREJMOVI I IFREJMOVI
		div.onama
			img(src="icons/logolarge.png")
			h1 Naslov
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt sollicitudin velit vel feugiat. Nullam a enim magna. Vivamus volutpat sodales iaculis. Proin id mauris non nunc cursus placerat vitae id leo. Donec pulvinar vulputate magna a varius. Praesent lobortis eget diam nec tempus.

		div.predlog
			h1 PREDLOG
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt sollicitudin velit vel feugiat.


		div.koncerti
			div.load-spinner.fa.fa-pulse.fa-spinner
			iframe.koncerti-frejm(scrolling="yes", src="")

		div.full-cover

		div.shoutbox-iframe
			div.load-spinner.fa.fa-pulse.fa-spinner
			iframe.shoutbox-frejm(scrolling="no", src="")


		div.full-coverindex
		div.index-iframe
			div.load-spinner.fa.fa-pulse.fa-spinner
			iframe.index-frejm(scrolling="no", src="")


		div.vreme-iframe
			div.load-spinner.fa.fa-pulse.fa-spinner
			iframe.vreme-frejm(scrolling="no", src="")




		//- SIDEBAR TUTTO
		div.sidebar-wrapper
			div.sidebar-top
				div.sidebar-content
					input.sidebar-input(
  						type='text'
  						name='agreement'
  						value='U izradi..'
  						onfocus="this.value='';")
					div.fa.fa-search.sidebar-srchicon
			div.sidebar-middle
				div.sidebar1
					div.side-title INFO
					div.side-item
						div.fa.fa-newspaper-o.side-icon
						div.side-desc 
							strike Muzičke Vesti
					div.side-item.plejlista-button
						div.fa.fa-rocket.side-icon
						div.side-desc Top Liste
					div.side-item.koncerti-button
						div.fa.fa-globe.side-icon
						div.side-desc Koncerti
					div.side-item.index-button
						div.fa.fa-microphone.side-icon
						div.side-desc Index Radio						
				div.sidebar2
					div.side-title GLAVNA
					div.side-item.servis-button 
						div.fa.fa-info.side-icon
						div.side-desc
							strike Informacije
					div.side-item.vreme-button
						div.fa.fa-sun-o.side-icon
						div.side-desc Vreme							
					div.side-item.shoutbox-button
						div.fa.fa-weixin.side-icon
						div.side-desc Poruke						
			div.sidebar-bottom
				ul
					li.fa.fa-user.sidebar-bottomitem.onama-button
						br
						span O Nama
					a.mailto-kontakt(href="mailto:notbigmuzzy@gmail.com")
						li.fa.fa-envelope-o.sidebar-bottomitem
							br
							span Kontakt







		//- MAIN WRAP = TOP + RADIO
		div.main-wrapper
			div.top-wrapper
				ul.mobile-menu
					li.mobile-menuitem1 Jedan
					li.mobile-menuitem1 Jedan
					li.mobile-menuitem1 Jedan
					li.mobile-menuitem1 Jedan
					li.mobile-menuitem1 Jedan



				div.top-mobmenu
					div.mob-menu
						img(src="icons/mobmenu.png")
				div.left-title 
				ul.top-left
					li.top-left1 Muzika
						#cur-playing1.fa.fa-bullhorn
					li.top-left2 Priča
						#cur-playing2.fa.fa-bullhorn
					li.top-left4 Strano
						#cur-playing3.fa.fa-bullhorn
					li.top-left3.active-region Sve
						#cur-playing4.fa.fa-bullhorn

				ul.top-right
					li#top-menu Opcije 
						img.top-menuimg(src="icons/menu.png")
					ul.drop-menu
						a(href="index.html")
							li Osveži stranicu









			//- RADIO BUTTONS - ADD HERE
			div.radios-wrapper
				div.radio-item#first
				div.radio-item.b92
					div.fa.fa-play.radio-cover1.1play
				div.radio-item.naxi80
					div.fa.fa-play.radio-cover2.2play
				div.radio-item.dvestadvojka
					div.fa.fa-play.radio-cover3.3play
				div.radio-item.antenabg
					div.fa.fa-play.radio-cover4.4play
				div.radio-item.laguna
					div.fa.fa-play.radio-cover5.5play
				div.radio-item.naxicafe
					div.fa.fa-play.radio-cover6.6play
				div.radio-item.studiob
					div.fa.fa-play.radio-cover7.7play
				div.radio-item.radiotri
					div.fa.fa-play.radio-cover8.8play
				div.radio-item.radioparadaiz
					div.fa.fa-play.radio-cover10.10play
				div.radio-item.radioboom
					div.fa.fa-play.radio-cover9.9play
				div.radio-item.radiotesaloniki
					div.fa.fa-play.radio-cover11.11play
				div.radio-item.radiostojedan
					div.fa.fa-play.radio-cover12.12play
				div.radio-item.radioklasik
					div.fa.fa-play.radio-cover13.13play
				div.radio-item.radiotopola
					div.fa.fa-play.radio-cover14.14play
				div.radio-item.radioadd
					div.fa.fa-plus.radio-cover666
				div.radio-item#last







			//- BOTTOM BAR
			div.bottombar-wrapper
				div.bottombar-left
					div.bottom-icon
					div#bottom-title Izaberi
					div#bottom-desc Stanicu
				div.bottombar-middle
					div.bottom-nyan
						img.nyanimg(src="icons/nyancat.gif")
					div.bottombar-line
						div.bottombar-linefill
				a#bottombar-link(href="" download)
					div.bottombar-right
						div.bottombar-text Link
						div.fa.fa-external-link.bottombar-icon












 


		//- SKRIPTORIUM
		script(type='text/javascript', src='js/jquery-2.1.4.min.js')
		script(type='text/javascript', src='index.js')
		script(type="text/javascript", src="js/mailto.ninja.js")
		<script type="text/javascript">mailto.ninja()</script>