.m-calendar-head {
	@include cf();
	margin-bottom: 40px;

	.a-button {
		display: inline-block;
		width: auto;
		max-width: inherit;
		outline: none;

		&.active {
			background-color: $c-blue;
			box-shadow: 0 10px 20px 0 rgba($black, 0.2);
			color: $white;
		}
	}

	.m-calendar-head-buttons {

		.a-button {
			min-width: 160px;

			&:nth-child(1) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;

				@include sc-breakpoint(425) {
					margin-bottom: 0;
					border-top-right-radius: 5px;
					border-bottom-left-radius: 0;
				}
			}

			&:nth-child(2) {
				margin-left: -5px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;

				@include sc-breakpoint(425) {
					margin-left: 0;
					border-top-right-radius: 0;
					border-bottom-left-radius: 5px;
				}
			}

			@include sc-breakpoint(425) {
				width: 100%;
				max-width: 320px;
			}
		}

		.m-calendar-head-date-switcher {
			position: relative;
			display: inline-block;
			margin-left: 40px;

			span {
				text-transform: uppercase;
				display: inline-block;
			}

			.to {
				margin-left: 20px;
				position: relative;

				&::before {
					content: '-';
					display: block;
					position: absolute;
					left: -15px;
					top: 5px;
					line-height: 12px;
				}
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 7px;
				left: -20px;
				width: 10px;
				height: 8px;
				background-image: url(../images/ico-dropdown.svg);
				transform: rotate(90deg);
				cursor: pointer;

				@include sc-breakpoint(800) {
					left: 0;
				}
			}

			&::after {
				left: auto;
				right: -20px;
				transform: rotate(-90deg);

				@include sc-breakpoint(1024) {
					right: 0;
				}
			}

			.m-calendar-head-date-month {
				display: none;
			}

			.m-calendar-head-date-week {
				text-align: center;
			}

			@include sc-breakpoint(1024) {
				display: block;
				margin-top: 20px;
				margin-left: 20px;
				text-align: center;
			}

			@include sc-breakpoint(800) {
				max-width: 320px;
				margin: 20px auto 0;
			}
		}
		@include sc-breakpoint(800) {
			float: none !important;
			display: block;
			margin: 0 auto;
			text-align: center;
		}

	}

	.m-calendar-head-sync {
		display: inline-block;

		.a-button {
			padding: 0 30px;
		}

		@include sc-breakpoint(800) {
			float: none !important;
			display: block;
			margin: 20px auto 0;
			text-align: center;
		}
	}
}

.m-calendar-body {
	width: 100%;

	.event {
		display: block;
		position: relative;
		z-index: 1;
		font-size: 12px;
		line-height: 1.7;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		padding: 14px 9px 0;
		margin-bottom: 5px;
		cursor: initial;
		overflow: hidden;
		width: 100%;
		background: $white;
		border: 1px solid rgba($black, 0.11);
		box-shadow: 0 0 0 0 rgba($black, 0.2);
		transition: opacity 0.35s ease-in-out, border 0.15s ease-in-out, box-shadow 0.35s ease-in-out;
		color: $c-blue;

		span {
			display: block;
			margin: 0;
			color: $gs-6;
			line-height: 1;
			margin-bottom: 10px;

			a {
				text-decoration: none;
				color: $c-blue;
				text-transform: uppercase;
			}

			&.event-title {
				text-decoration: underline;
			}

			&.event-time {
				font-weight: bold;
				color: $c-blue;
			}
		}

		a {
			display: block;
		}


		&.clickable {
			cursor: pointer;

			span {
				display: none;

				&.event-title,
				&.event-time {
					display: block !important;
				}
			}
		}

		&.confirmed {
			background-color: $c-light-green;
			color: darken($c-green, 20%);
			border: 2px solid $c-green;

			&:before {
				display: none;
			}

			.event-confirmation {
				padding-left: 20px;
				position: relative;

				&:before {
					content: '';
					display: block;
					height: 12px;
					width: 6px;
					border: 2px $gs-5 solid;
					border-top: 0;
					border-left: 0;
					position: absolute;
					top: -2px;
					left: 5px;
					transform: rotate(45deg);
				}
			}
		}

		&.registered {
			background-color: rgba($c-blue, 0.1);
			color: darken($c-blue, 20%);
			border: 2px solid $c-blue;

			&:before {
				display: none;
			}
		}

		a {
			text-decoration: none;
			color: $c-blue;
			text-transform: uppercase;
			font-weight: bold;
		}

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 4px;
			position: absolute;
			top: 0;
			left: 0;
			background-image: linear-gradient(90deg, $c-blue, $c-green);
		}

		.ui-resizable-handle {
			z-index: 1;
			height: 6px;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding-top: 1px;
			cursor: s-resize;
			transition: background-color 0.3s;
			border-bottom: 1px solid rgba($c-blue,0.25);

			&:before,
			&:after {
				content: '-';
				display: block;
				text-align: center;
				line-height: 1px;
				margin-bottom: 1px;
			}

			&:hover {
				background-color: rgba($black, 0.05);
			}
		}

		&.dragging {
			height: 0 !important;
			overflow: hidden;
			margin-bottom: 0;
			padding: 0;
			border: 0;
			min-height: 0 !important;
		}

		&.ui-draggable-dragging {
			width: 100%;
			background-color: rgba($white, 0.9);
			border: 1px solid transparent;
			box-shadow: 0 10px 20px 0 rgba($black,0.2);
			z-index: 2;
		}
	}

	.month-view {
		display: none;

		.days {
			@include cf;
			list-style: none;
			padding: 0;
			margin: 0;
			width: 100%;
			position: relative;

			&:last-child {
				border-bottom: 1px solid $gs-2;
			}

			.day {
				position: relative;
				display: block;
				float: left;
				width:14.285%;
				padding: 30px 5px 5px;
				border: 1px solid $gs-2;
				border-bottom: 0;
				border-right: 0;
				height: 180px;
				overflow: auto;
				transition: background 0.3s ease-in-out, border 0.3s ease-in-out;

				&:last-child {
					border-right: 1px solid $gs-2;	
				}

				@include sc-breakpoint(800) {
					height: auto !important;
					border: 1px solid $gs-2;
					width: 100%;
					padding: 10px;
					margin-bottom: -1px;
				}

				&.ui-droppable-hover,
				&:hover,
				&.show-popup {
					background: rgba($gs-1,0.4);
					border-top: 1px solid $c-green;
				}

				&:hover {
					cursor: pointer;
				}

				.date {
					position: absolute;
					top: 0;
					left: 5px;
					text-align: center;
					margin-bottom: 5px;
					padding: 4px;

					@include sc-breakpoint(800) {
						position: relative;
						text-align: left;
						top: auto;
						left: auto;
					}
				}

				&.other-month {
					background: $gs-10;
					color: $gs-3;

					@include sc-breakpoint(800) {
						display: none;
					}

					&:hover {
						cursor: default;
					}
				}

				&.dragging {
					overflow: visible;
				}

				&.current {
					border: 1px solid $c-blue;
					border-right: 2px solid $c-blue;
					border-bottom: 2px solid $c-blue;
					background-color: rgba($c-blue,0.025);

					&.ui-droppable-hover,
					&:hover,
					&.show-popup {
						background: rgba($gs-1,0.4);
						border: 1px solid $c-green;
						border-right: 2px solid $c-green;
						border-bottom: 2px solid $c-green;
					}

				}
			}
		}

		.ui-resizable-handle {
			display: none !important;
		}
	}

	.week-view {
		@include cf();
		padding-left: 40px;
		position: relative;

		.day {
			display: block;
			float: left;
			width: 14.3%;
			padding: 0;
			margin: 0 0 0 -1px; 
			border-right: 1px solid $gs-3;

			@include sc-breakpoint(800) {
				border-right: 0;
				border: 1px solid $gs-2;
				border-bottom: 0;
			}

			.half-hour {
				list-style: none;
				position: relative;
				display: block;
				padding: 20px 5px 5px;
				margin: 0 10px;
				border-top: 1px solid $gs-2;
				border-bottom: 1px solid transparent;

				&.ui-droppable-hover,
				&:hover,
				&.show-popup {
					background-color: rgba($gs-2,0.4);
					border-top: 1px solid $c-green;
					border-bottom: 1px solid $c-green;
				}

				&:hover {
					cursor: pointer;
				}

				&:last-child {
					border-bottom: 1px solid $gs-2;
				}

				.ui-draggable-dragging {
					width: 100%;
				}

				.event {
					position: absolute;
					top: 0;
					left: 0;
					margin-bottom: 0;
					min-height: 26px;
				}

				@include sc-breakpoint(800) {
					display: none;
					margin-left: 70px;
				}

				@include sc-breakpoint(801, $type: min) {
					display: block !important;
				}
			}

			&:last-child {
				margin-right: 0;
				border-bottom: 1px solid $gs-1;

				@include sc-breakpoint(801, $type: min) {
					border-right: 0;
				}
			}

			&.current {
				background-color: rgba($c-green, 0.1);

				.day-name {
					background-color: $c-light-green;
					color: darken($c-green, 20%);
					font-weight: bold;

					.hours {

						@include sc-breakpoint(800) {
							display: block;
						}
					}
				}

				.half-hour {

					.ui-droppable-hover,
					&:hover,
					&.show-popup {
						background-color: $white;
						border-top: 1px solid $c-blue;
						border-bottom: 1px solid $c-blue;
					}

					@include sc-breakpoint(800) {
						display: block;
					}
				}

			}

			&.active {

				.day-name {

					.hours {
						
						@include sc-breakpoint(800) {
							display: block;
						}
					}
				}

				.half-hour {
					display: block;
				}
			}

			&.past {
				.day-name {
					color: $gs-3;
				}
			}

			@include sc-breakpoint(800) {
				width: 100%;
			}
		}

		.legend {

			&.hours {
				position: absolute;
				top: 50px;
				left: 0;
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					line-height: 54px;
					height: 54px;
					color: $gs-5;
				}

				@include sc-breakpoint(800) {
					display: none;
				}
			}

			&.day-name {
				position: relative;
				width: 100%;
				background-color: $white;
				text-align: center;
				line-height: 50px;
				font-size: 1.145em;
				list-style: none;

				@include sc-breakpoint(800) {


					&:hover {
						cursor: pointer;
					}
				}

				.hours {
					left: 10px;

					@include sc-breakpoint(801, $type: min) {
						display: none !important;
					}
				}
			}
		}

		@include sc-breakpoint(800) {
			padding-left: 0;
		}
 
	}
}


.m-calendar-popup {
	position: absolute;
	top: 400px;
	left: 400px;
	z-index: 9;
	display: none;
	padding: 10px 20px 0 20px;
	background-color: $white;
	box-shadow: 0 10px 20px 0 rgba($black, 0.2);

	& > span {
		font-weight: bold;
	}

	ul {
		min-width: 260px;
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			position: relative;
			border-top: 1px solid $gs-2;
			padding:10px 0 10px 40px;

			span {
				display: block;
				font-size: 12px;
				line-height: 1.8;
				color: $gs-6;

				&.m-calendar-popup-title {
					font-weight: bold;
				}

				&.m-calendar-popup-description {

				}
			}

			&:before {
				content: '+';
				display: block;
				position: absolute;
				left: 0;
				top: 4px;
				font-size: 48px;
				line-height: 1;
				color: $gs-5;
			}
		}
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: -8px;
		top: 20px;
		width: 0; 
		height: 0; 
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent; 
		border-right:10px solid $white;
		
		@include sc-breakpoint(800) {
			left: 10px;
			top: -10px;
			transform: rotate(90deg);
		}

		@include sc-breakpoint(425) {
			left: 48%;
		}
	}

	&.offset {

		&:before {
			left: auto;
			right: -8px;
			transform: rotate(180deg);
		}
	}

	@include sc-breakpoint(425) {
		width: 80%;
		left: 0;
		right: 0;
		margin: 0 auto;
		left: 0 !important;
	}
}