.m-course-stats {
	max-width: 267px;
	width: 100%;
	position: relative;

	@include sc-breakpoint(860) {
		max-width: 50%;
	}

	@include sc-breakpoint(640) {
		max-width: 100%;
		margin-bottom: 40px;
	}

	.m-course-stats-duration,
	.m-course-stats-benchmark {
		float: left;
		color: $white;
		font-size: 12px;
		line-height: 24px;
		font-family: $apercu-bold;
	}

	.m-course-stats-benchmark {
		display: none;

		.b-switch-stats & {
			display: block;
		}
	}

	.m-course-stats-duration {

		.b-switch-stats & {
			display: none;
		}
	}

	.m-course-stats-switch {
		float: right;
		position: relative;
	}

	.m-course-stats-progress {
		@include cf;
		clear: both;
		padding-top: 1em;

		.m-course-stats-start,
		.m-course-stats-end,
		.m-course-stats-own,
		.m-course-stats-avg {
			line-height: 15px;
			font-size: 12px;
			margin-top: 1em;
			display: inline-block;
			font-family: $apercu-bold;
		}

		.m-course-stats-start {
			float: left;
			color: $white;
		}

		.m-course-stats-end {
			float: right;
			color: $white;
		}

		.m-course-stats-own {
			color: $c-green;
			float: left;
		}

		.m-course-stats-avg {
			color: $c-purple;
			position: relative;
			transform: translateX(-50%);
			float: left;
		}
	}

	.m-course-stats-progress-default {

		.b-switch-stats & {
			display: none;
		}
	}

	.m-course-stats-progress-benchmark {
		display: none;

		.b-switch-stats & {
			display: block;
		}
	}
}