.m-fixed-header-class {
	span {
		display: block;
		color: $gs-3;
		font-size: 12px;
		line-height: 18px;
	}

	.m-fixed-header-seminar {
		margin: 0;
		font-size: 20px;
	}
}

.m-fixed-header-avatar {
	font-size: 0;
	line-height: 0;
	position: relative;

	.a-chat-status {
		bottom: 1px;
	}

	.a-ico-dropdown {
		display: block;
		position: absolute;
		left: -25px;
		top: 0;
		width: 20px;
		height: 46px;
		margin-right: 10px;
	}

	&:hover {

		.a-ico-dropdown {
			top: 3px;
		}
	}
}

.m-fixed-header-stats {
	margin: 0 38px 0 16px;

	@include sc-breakpoint(768) {
		margin: 0 12px 0 5px;
	}

	span {
		display: block;
		font-size: 12px;
		line-height: 18px;
	}

	a {
		color: $c-blue;
		text-decoration: underline;
		margin-right: 12px;
		font-size: 12px;

		&:last-child {
			margin-right: 0;
		}
	}
}