.m-studies {
	position: relative;

	.a-course-description {
		max-width: auto;
		margin-bottom: 0;

		h1 {
			margin: 0;
		}
	}

	.a-button {
		position: absolute;
		right: 44px;
		top: 50%;
		transform: translateY(-50%);

		@include sc-breakpoint(640) {
			position: absolute;
			right: auto;
			top: auto;
			transform: initial;
			bottom: 20px;
			left: 20px;
			max-width: calc(100% - 40px);
		}
	}

}