.radios-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: flex-start;
  -moz-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: flex-start;
  align-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.radio-item {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto; }

.sidebar-wrapper {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 16vw;
  height: 100vh;
  overflow: hidden;
  background: pink;
  background: #151B21;
  background: -moz-linear-gradient(left, #151B21 0%, #141a1f 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #151B21), color-stop(100%, #141a1f));
  background: -webkit-linear-gradient(left, #151B21 0%, #141a1f 100%);
  background: -o-linear-gradient(left, #151B21 0%, #141a1f 100%);
  background: -ms-linear-gradient(left, #151B21 0%, #141a1f 100%);
  background: linear-gradient(to right, #151B21 0%, #141a1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151B21', endColorstr='#141a1f',GradientType=1 ); }

.sidebar-top {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #263039;
  text-align: center; }

.sidebar-content {
  display: inline-block;
  height: 40px;
  width: 90%;
  margin-top: 18px; }

.sidebar-input {
  padding: 0;
  margin: 0;
  height: 90%;
  width: 100%;
  border-radius: 30px;
  border: 4px solid #2a353f;
  font-size: 1em;
  color: #303c47;
  padding-left: 15px;
  background: #020303;
  font-family: "robotolight";
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

textarea, input {
  outline: none; }

.sidebar-srchicon {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 2em !important;
  color: #2a353f;
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.sidebar-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.9);
  color: white; }

.sidebar-bottom ul {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 80px; }

.sidebar-bottom ul li {
  padding: 0.8vw;
  font-size: 1.6em;
  color: #1e262e;
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.sidebar-bottomitem span {
  font-size: 0.5em;
  font-family: "robotobold"; }

.sidebar-middle {
  color: white; }

.sidebar1 {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #263039;
  padding-bottom: 10px; }

.sidebar2 {
  width: 80%;
  margin: 0 auto; }

.side-title {
  padding: 30px 0px 20px 0px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 1.2vh;
  font-family: "robotobold"; }

.side-item {
  width: 100%;
  padding: 10px;
  padding-left: 0;
  margin-bottom: -2px;
  font-size: 1.8vh;
  border-right: 5px solid transparent;
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.side-icon {
  text-align: center;
  width: 20px;
  float: left;
  margin-left: 6px;
  margin-right: 15px;
  margin-top: 3px;
  color: rgba(255, 255, 255, 0.4);
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.side-desc {
  color: rgba(255, 255, 255, 0.7);
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.top-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  width: 100%;
  height: 80px;
  z-index: 99;
  background: white; }

.left-title {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 20px;
  margin-left: 40px;
  height: 40px;
  width: 175px;
  cursor: default;
  background-image: url(icons/logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.top-left {
  height: 80px;
  line-height: 100px;
  width: 400px;
  position: absolute;
  bottom: 0;
  margin-left: 250px; }

.top-left li {
  display: inline-block;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7);
  font-family: "roboto";
  border-bottom: 2px solid transparent;
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.active-region {
  cursor: default !important;
  color: #C198ED !important;
  border-bottom: 2px solid transparent !important; }

.top-right {
  width: 200px;
  margin-top: 20px;
  position: absolute;
  right: 0;
  text-align: right; }

.top-right li {
  display: inline-block;
  padding: 10px;
  font-size: 1em;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid transparent;
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

#top-menu {
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.5); }

.top-menuimg {
  opacity: 0.7;
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.drop-menu {
  display: none;
  margin-top: -2px; }

.drop-menu li {
  text-align: center;
  display: block;
  padding: 15px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.7);
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: none; }

.top-mobmenu {
  display: none; }

.mobile-menu {
  display: none; }

.mob-menu img {
  opacity: 0.7; }

#cur-playing1 {
  color: transparent;
  position: relative;
  bottom: 18px;
  left: -30px;
  font-size: 1.3em;
  padding: 0;
  margin: 0; }

#cur-playing2 {
  color: transparent;
  position: relative;
  bottom: 18px;
  left: -25px;
  font-size: 1.3em;
  padding: 0;
  margin: 0; }

#cur-playing3 {
  color: transparent;
  position: relative;
  bottom: 18px;
  left: -28px;
  font-size: 1.3em;
  padding: 0;
  margin: 0; }

#cur-playing4 {
  color: transparent;
  position: relative;
  bottom: 18px;
  left: -28px;
  font-size: 1.3em;
  padding: 0;
  margin: 0; }

.radios-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  overflow-y: scroll;
  background: #020303; }

.radio-item {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 25%;
  height: 31%;
  font-size: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
  vertical-align: middle; }

#width-middle {
  width: 34%; }

.radio-cover1, .radio-cover2, .radio-cover3, .radio-cover4, .radio-cover5, .radio-cover6, .radio-cover7, .radio-cover8, .radio-cover9, .radio-cover10, .radio-cover11, .radio-cover12, .radio-cover13, .radio-cover14, .radio-cover666 {
  position: absolute;
  top: 0;
  left: 0;
  width: 102%;
  height: 100%;
  background: black;
  opacity: 0.6;
  margin: 0;
  padding: 9vh 0 0 0;
  font-size: 13vh !important;
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.b92 {
  background-image: url(images/1.jpg);
  background-position: center;
  color: rgba(255, 255, 255, 0.2); }

.naxi80 {
  background-image: url(images/2.jpg);
  background-position: center;
  color: rgba(255, 255, 255, 0.2); }

.dvestadvojka {
  background-image: url(images/3.jpg);
  background-position: center;
  color: rgba(255, 255, 255, 0.2); }

.antenabg {
  background-image: url(images/4.jpg);
  background-position: center;
  color: rgba(255, 255, 255, 0.2); }

.laguna {
  background-image: url(images/5.jpg);
  background-position: left;
  color: rgba(255, 255, 255, 0.2); }

.naxicafe {
  background-image: url(images/6.jpg);
  background-position: center;
  color: rgba(255, 255, 255, 0.2); }

.studiob {
  background-image: url(images/7.jpg);
  background-position: center;
  color: rgba(255, 255, 255, 0.2); }

.radiotri {
  background-image: url(images/8.jpg);
  background-position: center;
  color: rgba(255, 255, 255, 0.2); }

.radioboom {
  background-image: url(images/boom.png);
  background-position: center;
  color: rgba(255, 255, 255, 0.2); }

.radioparadaiz {
  background-image: url(images/paradaiz.png);
  background-position: center;
  color: rgba(255, 255, 255, 0.2); }

.radiotesaloniki {
  background-image: url(images/tesaloniki.jpg);
  background-position: center;
  color: rgba(255, 255, 255, 0.2); }

.radiostojedan {
  background-image: url(images/radiostojedan.jpg);
  background-position: center;
  color: rgba(255, 255, 255, 0.2); }

.radioklasik {
  background-image: url(images/radioklasik.jpg);
  background-position: center;
  color: rgba(255, 255, 255, 0.2); }

.radiotopola {
  background-image: url(images/radiotopola.jpeg);
  background-position: center;
  color: rgba(255, 255, 255, 0.2); }

.radioadd {
  background: #141A1F;
  color: rgba(255, 255, 255, 0.2); }

@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto-Regular.ttf");
  src: local("roboto") format("truetype"); }
@font-face {
  font-family: "robotolight";
  src: url("fonts/Roboto-Light.ttf");
  src: local("robotolight") format("truetype"); }
@font-face {
  font-family: "robotobold";
  src: url("fonts/Roboto-Bold.ttf");
  src: local("robotobold") format("truetype"); }
@font-face {
  font-family: "perf";
  src: url("fonts/perf.otf");
  src: local("perf") format("truetype"); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body, html {
  font-family: "roboto", sans-serif;
  overflow: hidden;
  cursor: default; }

a {
  color: black;
  text-decoration: none;
  outline: none; }

.main-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 84vw;
  height: 100vh;
  z-index: 98; }

#last {
  cursor: default;
  height: 80px !important;
  width: 100%;
  display: none; }

#first {
  cursor: default;
  height: 80px;
  width: 100%; }

.playin {
  color: #1B1521 !important;
  text-shadow: 0px 0px 20px #E5CCFF; }

.playin-cover {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: red; }

.fa-play {
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.fa-pause {
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.top-left li:hover {
  cursor: pointer;
  color: #C198ED;
  border-top: dotted 0px transparent !important; }

.active-region:hover #cur-playing {
  color: #C198ED !important; }

.radio-item:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 0px 20px black; }

.bottombar-right:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6); }

.bottom-icon:hover {
  cursor: pointer;
  opacity: 0.6; }

#top-menu:hover {
  cursor: pointer;
  color: #C198ED;
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

#top-menu:hover .top-menuimg {
  opacity: 0.3; }

.drop-menu li:hover {
  cursor: pointer;
  color: #C198ED; }

.mobile-menu li:hover {
  background: black;
  color: white; }

.side-item:hover {
  cursor: pointer;
  background: #06080A;
  border-right: 5px solid #C198ED;
  z-index: 999999; }

.side-item:hover .side-icon {
  color: rgba(255, 255, 255, 0.6); }

.side-item:hover .side-desc {
  color: rgba(255, 255, 255, 0.9); }

.sidebar-bottomitem:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6); }

.sidebar-content:hover .sidebar-input {
  border: 4px solid #4C6072;
  color: #4C6072; }

.sidebar-content:hover .sidebar-srchicon {
  color: #4C6072; }

.sidebar-srchicon:hover {
  cursor: pointer;
  color: #4C6072; }

.plejlista-close:hover {
  cursor: pointer;
  color: white;
  background: black;
  border: 4px solid white; }

.bottombar-wrapper {
  display: none;
  position: relative;
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: -80px;
  background: rgba(2, 3, 3, 0.8);
  overflow: hidden;
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.bottombar-left {
  position: relative;
  float: left;
  width: 20%;
  overflow: hidden; }

.bottom-icon {
  visibility: hidden;
  float: left;
  background-image: url(icons/1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin: 10px 10px 10px 20px;
  opacity: 0.2;
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

#bottom-title {
  padding: 15px 10px 5px 10px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "robotobold";
  font-size: 1.3em; }

#bottom-desc {
  color: rgba(255, 255, 255, 0.4);
  font-family: "roboto";
  font-size: 0.8em; }

.bottombar-middle {
  position: relative;
  height: 100%;
  margin-left: 24%;
  width: 60%; }

.bottombar-line {
  position: absolute;
  width: 100%;
  height: 16px;
  background: rgba(255, 255, 255, 0);
  margin-top: 34px; }

.bottombar-linefill {
  height: 100%;
  width: 70%;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.79) 57%, rgba(255, 255, 255, 0.79) 98%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(57%, rgba(255, 255, 255, 0.79)), color-stop(98%, rgba(255, 255, 255, 0.79)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.79) 57%, rgba(255, 255, 255, 0.79) 98%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.79) 57%, rgba(255, 255, 255, 0.79) 98%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.79) 57%, rgba(255, 255, 255, 0.79) 98%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.79) 57%, rgba(255, 255, 255, 0.79) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#c9ffffff',GradientType=1 ); }

.bottom-nyan img {
  position: absolute;
  top: -10px;
  left: 70%;
  height: 100px; }

.bottombar-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 80px;
  margin: 10px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.3);
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.bottombar-text {
  float: left;
  font-size: 1.4em;
  padding-top: 10px;
  margin-right: 10px; }

.bottombar-icon {
  margin-top: 10px;
  font-size: 25px !important; }

.override .mailto.ninja footer nav.toolbar {
  background-color: #fff; }

.mailto.ninja footer nav.toolbar ul li button {
  color: #E6E6E6 !important; }

.mailto.ninja input, textarea {
  background: #fff;
  color: rgba(0, 0, 0, 0.2) !important;
  font-family: "roboto"; }

.mailto.ninja footer nav.toolbar ul li a.logo {
  color: transparent !important;
  opacity: 0.5;
  font-family: "robotobold"; }

.mailto.ninja .message, .mailto.ninja main.main {
  height: auto !important; }

.mailto.ninja fieldset p {
  color: #C198ED !important; }

.se-modal .close {
  display: none;
  color: #fff;
  background: #CF1017;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  font-weight: 700 !important;
  font-size: 14px !important;
  text-align: center !important;
  line-height: 20px; }

.se-modal .close:hover {
  text-decoration: none !important; }

.mailto.ninja fieldset label {
  font-family: "robotobold"; }

#cancel {
  display: none; }

.se-modal {
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.4) !important; }

#to-address {
  display: none !important; }

.mailto.ninja footer nav.toolbar ul li button {
  margin-top: 0 !important; }

.full-cover {
  display: none;
  z-index: 99990;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); }

.plejliste-iframe {
  display: none;
  width: 330px;
  height: 550px;
  position: absolute;
  background: #F6F6F6;
  top: 20px;
  opacity: 0;
  left: 50%;
  margin-left: -165px;
  text-align: center;
  line-height: 550px;
  font-size: 3em;
  border-radius: 5px;
  z-index: 9999990;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.plejliste-iframe iframe {
  width: 330px;
  height: 550px;
  border: none;
  border-radius: 5px;
  z-index: 999; }

.load-spinner {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px; }

.onama {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -250px;
  height: 85vh;
  max-height: 700px;
  width: 500px;
  border-radius: 5px;
  background: white;
  z-index: 999999;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
  text-align: center;
  -moz-transition: 0.4s ease-in-out all;
  -webkit-transition: 0.4s ease-in-out all;
  -o-transition: 0.4s ease-in-out all;
  -ms-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  color: #43484C;
  overflow: auto; }

.onama img {
  width: 100%;
  opacity: 0.8; }

.onama p {
  text-align: left;
  padding: 0 20px 20px 20px;
  overflow: auto;
  margin: 0; }

.predlog {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -250px;
  height: 85vh;
  max-height: 700px;
  width: 500px;
  border-radius: 5px;
  background: white;
  z-index: 999999;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
  text-align: center;
  -moz-transition: 0.4s ease-in-out all;
  -webkit-transition: 0.4s ease-in-out all;
  -o-transition: 0.4s ease-in-out all;
  -ms-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  color: #333;
  overflow: auto; }

.predlog p {
  text-align: left;
  padding: 0 20px 20px 20px;
  overflow: auto;
  margin: 0; }

.shoutbox-iframe {
  display: none;
  width: 500px;
  height: 700px;
  position: absolute;
  background: #F6F6F6;
  top: 20px;
  opacity: 0;
  left: 50%;
  margin-left: -250px;
  text-align: center;
  line-height: 550px;
  font-size: 3em;
  border-radius: 5px;
  z-index: 9999990;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.shoutbox-iframe iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  z-index: 999; }

.koncerti {
  display: none;
  width: 500px;
  height: 85vh;
  position: absolute;
  background: #F6F6F6;
  top: 20px;
  opacity: 0;
  left: 50%;
  margin-left: -250px;
  text-align: center;
  line-height: 550px;
  font-size: 3em;
  border-radius: 5px;
  z-index: 9999990;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.koncerti-frejm {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  z-index: 999; }

.full-coverindex {
  display: none;
  z-index: 99990;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); }

.index-iframe {
  display: none;
  width: 550px;
  height: 400px;
  position: absolute;
  background: #F6F6F6;
  top: 20px;
  opacity: 0;
  left: 50%;
  margin-left: -275px;
  text-align: center;
  line-height: 550px;
  font-size: 3em;
  border-radius: 5px;
  z-index: 9999990;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.index-iframe iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  z-index: 999; }

.vreme-iframe {
  display: none;
  width: 445px;
  height: 85vh;
  max-height: 810px;
  position: absolute;
  background: #F6F6F6;
  top: 20px;
  opacity: 0;
  left: 50%;
  margin-left: -222px;
  text-align: center;
  line-height: 550px;
  font-size: 3em;
  border-radius: 5px;
  z-index: 9999990;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
  -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  -ms-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }

.vreme-iframe iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  z-index: 999; }

@media all and (max-width: 900px) {
  .sidebar-wrapper {
    display: none; }

  .main-wrapper {
    width: 100%; }

  .radio-item {
    width: 50%; }

  #width-middle {
    width: 50%; }

  .bottom-nyan img {
    left: 70%;
    height: 100px; }

  .bottombar-middle {
    margin-left: 30%;
    width: 40%; }

  .bottombar-left {
    width: 300px;
    margin-left: 10px; }

  .bottom-icon {
    margin-right: 20px;
    margin-left: -10px; }

  .left-title {
    margin-left: 20px; }

  .top-left {
    margin-left: 220px; }

  .radio-item {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none; }

  .radio-cover1, .radio-cover2, .radio-cover3, .radio-cover4, .radio-cover5, .radio-cover6, .radio-cover7, .radio-cover8, .radio-cover9, .radio-cover10, .radio-cover11, .radio-cover12, .radio-cover13, .radio-cover14, .radio-cover666 {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none; }

  .bottom-icon {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none; } }
@media all and (max-width: 600px) {
  .radio-item {
    width: 100%; }

  .hide-600 {
    display: none !important; }

  #width-middle {
    width: 100%; }

  .radios-wrapper {
    height: 100%; }

  .bottombar-middle {
    width: 50%;
    margin-left: 25%; }

  .top-left {
    display: none; }

  .top-right {
    display: none; }

  .top-mobmenu {
    display: block; }

  .bottombar-middle {
    display: none; }

  .mob-title {
    cursor: default;
    font-size: 3em;
    padding: 10px;
    border-bottom: 2px solid transparent;
    color: black;
    float: left; }

  .mob-menu img {
    height: 50px; }

  .mob-menu {
    cursor: pointer;
    float: right;
    padding: 15px; }

  .mobile-menu {
    position: absolute;
    z-index: 999999;
    background: rgba(255, 255, 255, 0.95);
    list-style: none;
    text-align: center;
    margin-top: 0px; }

  .mobile-menu li {
    cursor: pointer;
    display: inline-block;
    width: 100vw;
    height: 20vh;
    line-height: 20vh;
    border-bottom: solid 2px rgba(0, 0, 0, 0.3);
    margin-left: -40px;
    font-size: 2em;
    font-weight: 300; } }
@media all and (max-width: 400px) {
  .top-wrapper {
    display: none; }

  #first {
    display: none; } }

/*# sourceMappingURL=index.css.map */
