@font-face {
    font-family: 'C64-MONO';
    src: url('assets/fonts/c64/C64_Pro_Mono-STYLE.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/c64/C64_Pro_Mono-STYLE.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/c64/C64_Pro_Mono-STYLE.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/c64/C64_Pro_Mono-STYLE.woff') format('woff'), /* Pretty Modern Browsers */
         url('assets/fonts/c64/C64_Pro_Mono-STYLE.ttf')  format('truetype'); /* Safari, Android, iOS */
}


::-moz-selection { /* Code for Firefox */
color: #50459b;
background: #887ecb;
}

::selection {
color: #50459b;
background: #887ecb;
}

.c64-portfolio {
    height: 100%;
    padding: 80px 120px;
    background-color: #887ecb;

    @media (max-width: 960px) {
        padding: 40px 60px;
    }

    @media (max-width: 768px) {
        padding: 40px;
    }

    @media (max-width: 640px) {
        padding: 0;
    }

    a {
        color: #887ecb;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-style: dotted;
        }
    }

    & > * {
        font-family: 'C64-MONO';
        font-size: 25px;
        line-height: 1;
        text-transform: uppercase;

        @media (max-width: 640px) {
            font-size: 20px;
        }
    }

    .editor {
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        background-color: #50459b;
        color: #887ecb;
        overflow-y: auto;

        @media (max-width: 640px) {
            padding-bottom: 30px;
        }

        .top-of-editor {
            text-align: center;
            padding-top: 20px;

            @media (max-width: 640px) {
                padding: 20px 5px;
            }

            p {
                margin-bottom: 20px;
            }
        }

        .commandbox {
            margin-bottom: 20px;

            .title {
                display: block;

                &.hide {
                    display: none;
                }
            }

            &.active {
                input {
                    pointer-events: initial;
                }
            }

            &.help {
                .title {
                    color: #fff;

                    a {
                        color: #fff;
                    }

                    span {
                        color: #cb7e75 ;
                    }

                    &:first-child {
                        color: #9ae29b;
                    }
                }
            }

            .no-command {
                color: #cb7e75;
            }
        }

        form {
            display: block;
            width: 100%;
            height: 100%;
        }

        input,
        textarea {
            width: 100%;
            border: none;
            background-color: transparent;
            color: #887ecb;
            font-family: 'C64-MONO';
            text-transform: uppercase;
            pointer-events: none;
        }

        i {
            font-style: normal;
        }
    }

    .writeout-text {
        input,
        img,
        label,
        .rte,
        title,
        h1,
        address,
        tr:nth-child(-n+3),
        tr:last-child,
        th,
        tr td {
            display: none;
        }

        tr td:nth-child(2) {
            display: block;
        }

        img {
            max-width: 640px;
            margin: 0 auto;
        }

        .item-title {
            color:  #a1683c;
            margin-bottom: 10px;
        }

        .item-decription {
            color: #fff;
        }
    }

    .hint-button {
        #hb {
            display: none;
        }
        .the-button {
            text-transform: initial;
            background: #fff;
            color: #50459b;
            border-radius: 50%;
            padding: 10px;
            position: absolute;
            width: 40px;
            height: 40px;
            bottom: 10px;
            right: 10px;
            text-decoration: none;
            font-size: 20px;
            box-shadow: 0 2px 4px rgba(#000, 0.25);
            z-index: 10;
            cursor: pointer;
        }
        #hb:checked + label + .hint-list {
            display: flex;
        }
        .s-m {
            display: block;
        }
        .c-m {
            display: none;
        }
        #hb:checked + label {
            .s-m {
                display: none;
            }
            .c-m {
                display: block;
            }
        }
        .hint-list {
            display: none;
            position: fixed;
            z-index: 5;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: #000;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                cursor: pointer;
            }

            span {
                color: #fff;
            }
        }
    }
}  



.c64-helper {
    display: none;
}