@font-face {
    font-family: 'C64-MONO';
    src: url('assets/fonts/c64/C64_Pro_Mono-STYLE.eot'); /* IE9 Compat Modes */
    src: url('assets/fonts/c64/C64_Pro_Mono-STYLE.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('assets/fonts/c64/C64_Pro_Mono-STYLE.woff2') format('woff2'), /* Super Modern Browsers */
         url('assets/fonts/c64/C64_Pro_Mono-STYLE.woff') format('woff'), /* Pretty Modern Browsers */
         url('assets/fonts/c64/C64_Pro_Mono-STYLE.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.c64 {
    .green {
        color: lightgreen;
    }

    .lightblue {
        color: lightblue;
    }

    ::-moz-selection {
        color: #50459b;
        background: #887ecb;
    }

    ::selection {
        color: #50459b;
        background: #887ecb;
    }
}

.c64-portfolio {
    height: 100%;
    padding: 80px 120px;
    background-color: #887ecb;

    @media (max-width: 960px) {
        padding: 40px 60px;
    }

    @media (max-width: 768px) {
        padding: 40px;
    }

    @media (max-width: 640px) {
        padding: 0;
    }

    a {
        color: #887ecb;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-style: dotted;
        }
    }

    & > * {
        font-family: 'C64-MONO';
        font-size: 25px;
        line-height: 1.2;
        text-transform: uppercase;

        @media (max-width: 640px) {
            font-size: 20px;
        }
    }

    .editor {
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        background-color: #50459b;
        color: #887ecb;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
        cursor: text;

        @media (max-width: 640px) {
            padding-bottom: 30px;
        }

        .top-of-editor {
            text-align: center;
            padding-top: 20px;

            @media (max-width: 640px) {
                padding: 20px 5px;
            }

            p {
                margin-bottom: 20px;
            }
        }

        .commandbox {
            margin-bottom: 20px;

            .title {
                display: block;

                &.hide {
                    display: none;
                }

                i {
                    color: #887ecb;
                }
            }

            &.active {
                input {
                    pointer-events: initial;
                }
            }

            &.help {
                .title {
                    color: #fff;
                    position: relative;

                    a {
                        color: #fff;
                    }

                    i {
                        position: absolute;
                        left: 250px;
                    }

                    span {
                        color: #cb7e75 ;
                    }

                    &:first-child {
                        color: #9ae29b;
                        margin-bottom: 5px;
                    }
                }
            }

            .no-command {
                color: #cb7e75;
            }

            .prompt {
                position: relative;
                font-family: monospace;
                font-weight: bold;
                color: #50459b;
                background: #887ecb;

                .mega-title {
                    display: block;
                    text-align: center;
                    margin-bottom: 50px;
                    font-size: 35px;
                }
                
                .info-text {
                    position: absolute;
                    left: 0;
                    width: 45%;
                    height: 100%;
                    padding-top: 140px;
                    padding-left: 25px;
                    text-align: left;
                    line-height: 1.2;

                    span {
                        display: block;

                        i {
                            color: #fff;
                        }
                    }
                }

                &.me {
                    background: #d0dc71;
                    color: #626262;
                    text-align: right; 
                }

                &.text-box {
                    text-align: left;
                    padding: 25px;
                    line-height: 1.5;
                    font-size: 30px;

                    .title {
                        display: inline-block;
                        border-bottom: 5px solid;
                        margin-bottom: 25px;
                    }

                    .stats {
                        border-top: 5px solid;
                        display: inline-block;
                        margin-top: 25px;
                    }

                    li {
                        position: relative;

                        i {
                            position: absolute;
                            left: 250px;

                            & + i {
                                left: 350px;
                            }
                        }
                    }
                }

                &.work {
                    background: #9f4e44;
                    color: #fff;
                    padding: 25px;
                    display: flex;
                    flex-direction: column;

                    .title {
                        font-size: 30px;
                        margin-bottom: 5px;
                    }

                    .exp {
                        position: relative;
                    }

                    .date {
                        position: absolute;
                        right: 0;
                        top: 0;
                        font-size: 30px;
                    }

                    .place {
                        color: #f0a69c;
                        font-size: 20px;
                        margin-bottom: 5px;

                        & + .description {
                            color: #f0a69c;
                            font-size: 20px;
                            margin-bottom: 5px;
                        }
                    }

                    hr {
                        width: 100%;
                        height: 3px;
                        background: white;
                        margin: 25px 0;
                    }
                }

                &.cv-experience {
                    padding: 25px;
                    background: #acea88;
                    color: #274118;

                    .highlight {
                        background: #7aab61;
                        color: #fff;
                        padding: 0 5px;
                    }
                }

                &.radio {
                    font-size: 1.95vw;
                    background: #000;
                    color: #2b2553;

                    .mega-title {
                        margin-bottom: 0;
                        color: #fff;
                        text-transform: initial;
                    }

                    .art {
                        text-align: center;
                    }

                    .car {
                        color: #894036;
                    }

                    .hill {
                        color: #317b08;
                    }

                    .sun {
                        color: #d0dc71;
                    }

                    .sea {
                        color: #15edff;
                    }

                    .ray {
                        color: #d0dc71;
                    }
                }
            }
        }

        form {
            display: block;
            width: 100%;
            height: 100%;
        }

        input,
        textarea {
            width: 100%;
            border: none;
            background-color: transparent;
            color: #887ecb;
            font-family: 'C64-MONO';
            text-transform: uppercase;
            pointer-events: none;
        }

        i {
            font-style: normal;
        }
    }

    .writeout-text {
        input,
        img,
        label,
        .rte,
        title,
        h1,
        address,
        tr:nth-child(-n+3),
        tr:last-child,
        th,
        tr td {
            display: none;
        }

        tr td:nth-child(2) {
            display: block;
        }

        img {
            max-width: 640px;
            margin: 0 auto;
        }

        .item-title {
            color:  #a1683c;
            margin-bottom: 10px;
        }

        .item-decription {
            color: #fff;
        }
    }
}  

.c64-hints {
    & > * {
        font-family: 'C64-MONO';
        font-size: 25px;
        line-height: 1.2;
        text-transform: uppercase;

        @media (max-width: 640px) {
            font-size: 20px;
        }
    }

    #hb {
        display: none;
    }

    .the-button {
        text-transform: initial;
        background: #fff;
        color: #50459b;
        border-radius: 50%;
        padding: 10px;
        position: fixed;
        width: 40px;
        height: 40px;
        bottom: 10px;
        right: 10px;
        text-decoration: none;
        font-size: 20px;
        box-shadow: 0 2px 4px rgba(#000, 0.25);
        z-index: 10;
        cursor: pointer;
    }

    .the-label {
        text-transform: initial;
        color: #50459b;
        border-radius: 50%;
        position: fixed;
        bottom: 10px;
        right: 10px;
        text-decoration: none;
        font-size: 10px;
        z-index: 2;
        cursor: pointer;

        i {
            color: #fff;
            font-style: initial;
        }
    }

    #hb:checked + label + .hint-list {
        display: flex;
    }

    .s-m {
        display: block;
    }

    .c-m {
        display: none;
    }

    #hb:checked + label {
        .s-m {
            display: none;
        }
        .c-m {
            display: block;
        }
    }

    .list-title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        color: yellow;
        text-align: center;
        padding: 10px 0;
        border-bottom: 3px solid yellow;
    }

    .hint-list {
        display: none;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #000;
        flex-direction: column;
        justify-content: center;
        padding: 40px 0;

        label {
            display: block;
            cursor: pointer;

            p {
                margin-top: 5px;
            }

            span + span {
                margin-left: 20px;
            }

            * {
                pointer-events: none;
            }

            &:hover {
                @media (min-width: 769px) {
                    background: #111;
                }
            }
        }

        li {
            margin-bottom: 20px;
        }
    }

    .list-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: yellow;
        text-align: center;
        padding: 10px 0;
    }
}

.c64-helper {
    display: none;
}