html, body {
	@media (max-width: 768px) {
		scrollbar-width: thin;
		scrollbar-color: #500003 #0a0000;
	}
}

.cv-portfolio {
	display: flex;
	height: 100%;
	overflow: hidden;
	background-color: #460002;
	background-image: url('assets/images/cv-back.jpg');
	background-size: cover;
	background-position: center right;

	@media (max-width: 768px) {
		flex-direction: column;
		overflow: visible;
	}
    
    ::-moz-selection {
        color: #460002;
        background: #fff;
    }

    ::selection {
        color: #460002;
        background: #fff;
    }

	.wrapper-left,
	.wrapper-right {
		height: 100%;
		width: 50%;

		@media (max-width: 768px) {
			width: 100%;
			min-height: 100%;
			height: auto;
		}
	}

	.wrapper-right {
		position: relative;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;

		@media (max-width: 768px) {
			order: 1;

			&:after {
				content: "⇣";
				position: absolute;
				bottom: 6px;
				left: 0;
				right: 0;
				margin: 0 auto;
				color: #fff;
				text-align: center;
				font-size: 23px;
			}
		}

	    & > div {
	    	padding: 40px 20px;
	    }

		h1,h2,span {
			color: #fff;
			display: block;
		}
		a {
			display: inline-block;
			color: #fff;
			filter: grayscale(1);
			opacity: 0.5;
			margin-top: 5px;
			outline: none;

			&:hover {
				opacity: 1;
				transition: opacity 0.15s;
			}
		}

		h1 {
			opacity: .8;
			font-size: 2.5vw;
			font-weight: 300;
			line-height: 1.25;

			@media (max-width: 768px) {
				font-size: 5vw;
			}

			@media (max-width: 540px) {
				font-size: 10vw;
			}
		}

		h2 {
			opacity: .8;
			font-size: 2vw;
			font-weight: 300;
			line-height: 1.25;

			@media (max-width: 768px) {
				font-size: 3vw;
			}

			@media (max-width: 540px) {
				font-size: 5vw;
			}
		}

		.sub-title {
			display: block;
			color: #fff;
			position: relative;
			opacity: .7;
    		font-size: 4vw;
    		bottom: -20px;
    		font-weight: 300;

			@media (max-width: 768px) {
				font-size: 6vw;
				bottom: -10px;
			}

			@media (max-width: 768px) {
				bottom: 0;
			}
		}

		.title {
			display: block;
			color: #fff;
			position: relative;
			left: -10px;
			font-size: 12.5vw;
			font-weight: 300;

			@media (max-width: 768px) {
				font-size: 15vw;
			}

			@media (max-width: 540px) {
				font-size: 24vw;
			}
		}
	}

	.wrapper-left {
		position: relative;

		@media (max-width: 768px) {
			order: 2;
		}

		#cv-toggle {
			display: none;
		}

		#cv-toggle:checked + .cv-toggle {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 9;
				margin: 0;
				padding: 0;
				height: 100%;
				width: 200%;
				background-color: rgba(#000, 0.9);
				overflow: hidden;
				transition: background-color 0.15s;

				@media (max-width: 768px) {
					width: 100%;
					height: auto;
					position: relative;
				}

				&:after {
					display: none;
				}

				.init-cta {
					display: none;
				}

			.the-cv {
				width: 70%;
				max-width: 1240px;
				margin: 0 auto;
				overflow: auto;
				opacity: 1;
				cursor: initial;
				border: none;
				@include hide-scrollbars;

				&:before {
					display: none;
				}

				@media (max-width: 768px) {
					width: 100%;
				}

				.highlight {
					color: #CF1017;
				}

				.cv-header,
				.cv-experience,
				.cv-education,
				.cv-hoby {
					display: block;
					padding: 30px;

					@media (max-width: 768px) {
						padding: 0;
					}

					& > * {
						color: #000;
					}	
				}

				.cv-cta {
					display: block;
				}

				.cv-header {
					padding: 30px;
					height: 250px;
					background-image: url('assets/images/cv-header.jpg');
					margin-bottom: 0;

					& > div {
						margin-top: initial;
						margin-bottom: 60px;
					}

					@media (max-width: 768px) {
						display: none;
					}

					@media (max-width: 540px) {
						padding: 20px;
					}

					.name {
						display: block;
						font-size: 35px;
						margin-bottom: 10px;
					}
					.ocupation {
						display: block;
						font-size: 14px;
					}
					.resume {
						color: #fff;
						font-size: 70px;
						font-weight: 300;
						text-align: left;
						text-transform: initial;

						@media (max-width: 540px) {
							font-size: 60px;
							word-break: break-all;
						}

						@media (max-width: 540px) {
							font-size: 40px;
						}
					}
				}

				.cv-hoby {
					@media (max-width: 768px) {
						margin-bottom: 0;
					}
				}

				hr {
					margin: 0;
					color: #fff;
					opacity: .2;
				}
			}

			.cv-toggle-close,
			.cv-download-button-wrapper {
				display: block;
			}
		}

		.cv-toggle {
			position: relative;
			display: block;
			height: 100%;
			padding: 40px 20px;

			@media (max-width: 768px) {
				height: auto;
				padding: 0;
			}


			&:after {
				pointer-events: none;
				content: '⌘';
				position: absolute;
				top: 55%;
				left: 0;
				right: 0;
				margin: 0 auto;
				color: #e2e2e2;
				z-index: 9;
				font-size: 80px;
				text-align: center;
				font-weight: 300;
				transform: translateY(-50%);

				@media (max-width: 768px) {
					display: none;
				}
			}
		}
		
		.the-cv {
			position: relative;
			height: 100%;
			cursor: pointer;
			background-color: #fff;
			opacity: 0.92;
			overflow: hidden;

			.init-cta {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				color: rgba(#fff, 0.25);
				text-align: center;
				font-style: italic;
				font-size: 10px;
				line-height: 3;
				letter-spacing: 1px;
				border-top: 1px dashed rgba(#fff, 0.25);
			}

			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				border-width: 0 50px 50px 0;
				border-style: solid;
				border-color: #460002 #4c0004;
				box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.3);
				z-index: 1;
				transition: border-width 0.25s;

				@media (max-width: 768px) {
					display: none;
				}
			}

			.cv-header,
			.cv-experience,
			.cv-education,
			.cv-hoby,
			.cv-cta {
				display: none;
			}

			.cv-education {
				background-color: #f7f7f7;

				.company {
					padding-bottom: 20px;
					margin-bottom: 20px;
					border-bottom: 1px dashed rgba(#000, 0.1);

					&:last-child {
						border-bottom: none;
						margin-bottom: 0;
						padding-bottom: 0;
					}
				}
			}

			.cv-experience,
			.cv-education,
			.cv-hoby {
				.subsection-title {
					display: block;
					text-align: left;
					font-size: 32px;
					line-height: 1;
					color: #dadada !important;

					i {
						margin-right: 8px;
						font-style: normal;
					}
				}
			}

			@media (max-width: 768px) {
				opacity: 1;
				cursor: initial;
				border: none;

				.cv-header,
				.cv-experience,
				.cv-education,
				.cv-hoby,
				.cv-cta {
					display: block;
					padding: 20px !important;

					.highlight {
						color: #CF1017;
					}
				}
			}

			&:hover {
				opacity: 0.85;
				transition: opacity 0.15s;

				&:before {
					border-width: 0 75px 75px 0;
				}

				@media (max-width: 768px) {
					opacity: 1;
					transition: opacity 0s;
				}
			}

			.cv-experience,
			.cv-education,
			.cv-hoby {
				padding: 0 10px;

				@media (max-width: 768px) {
					padding: 0;
				}

				& > * {
					color: rgba(#000, 0.15);

					@media (max-width: 768px) {
						color: #000;
						padding: 0;
					}
				}	
			}

			.cv-header {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				padding: 10px;
				background-color: #340100;
				background-size: cover;
				background-position: center right;
				border: 1px solid rgba(0, 0, 0, 0.1);

				@media (max-width: 768px) {
					display: none;
				}

				& > div {
					position: relative;
					margin-top: -175px;
				}

				p,a {
					color: #fff;
					font-weight: 300;
				}

				.phone {
					display: none;
					font-size: 14px;
				}
				.name,
				.ocupation {
					display: none;
				}
				.resume {
					font-weight: bold;
					text-align: center;
					text-transform: uppercase;
					font-size: 50px;
					font-weight: bold;
				}
			}

			.description {
				font-size: 16px;
				line-height: 1.5;
			}

			.highlight {
				font-weight: bold;
			}

			hr {
				margin: 0;
				opacity: 0;

				@media (max-width: 768px) {
					color: #fff;
					opacity: .2;
				}
			}

			.date {
			    float: right;
			    margin-top: -16px;
			    color: #BFBFBF !important;
			    min-width: 80px;
			}

			.place {
				color: #BFBFBF !important;
				padding-top: 6px;
				padding-bottom: 3px;
			}

			.full-card {
				display: block;
    			padding: 30px;
				background-color: #3e0003;
				color: #fff;

				.title {
					font-size: 20px;
					line-height: 1.25;
					font-weight: 100;
					margin-bottom: 20px;
					text-align: right;
					font-style: italic;
				}

				.tech-list {
					li {
						display: inline-block;
						background-color: rgba(#fff, 0.2);
						color: #fff;
						text-transform: uppercase;
						font-size: 12px;
						font-weight: bold;
						padding: 8px 12px;
						margin: 0 8px 8px 0;
						border-radius: 4px;

						&:hover {
							cursor: help;
							background-color: rgba(#fff, 0.4);
							transition: background-color 0.15s;
						}
					}
				}
			}
		}

		.cv-toggle-close  {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			color: rgba(#fff, .5);
			font-size: 40px;
			font-family: monospace;
			line-height: 90px;
			width: 100px;
			height: 100px;
			margin: 10px;
			cursor: pointer;
			border-radius: 50%;
			border: 2px solid rgba(#fff, .5);
			padding: 0;
			text-align: center;

			@media (max-width: 768px) {
				top: auto;
				bottom: 0;
				color: rgba(#000, .5);
				border: 2px solid rgba(#000, 1);
				width: 50px;
				height: 50px;
				line-height: 45px;
				font-size: 20px;
				margin: 5px;
				color: #fff;
				background-color: #520002;
				display: none !important;
			}

			&:hover {
				opacity: 0.75;
				transition: opacity 0.15s;
			}
		}

		.cv-download-button-wrapper {
			display: none;
		}

		.cv-download-button {
			position: absolute;
			top: 120px;
			right: 0;
			color: rgba(#fff, .5);
			font-size: 20px;
			font-family: monospace;
			width: 100px;
			margin: 10px;
			cursor: pointer;
			border-radius: 50%;
			padding: 0;
			text-align: center;

			@media (max-width: 768px) {
				display: none !important;
			}

			&:hover {
				opacity: 0.75;
				transition: opacity 0.15s;
			}	
		}

		.cv-cta {
			position: relative;
			padding: 30px;
			background-color: #cf1017;
			background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");

			@media (max-width: 768px) {
				width: calc(100% + 40px);
				padding: 40px 20px;

			}

			p, span {
				color: #fff;
			}

			.title {
				font-size: 50px;
				font-weight: 300;
				margin-bottom: 20px;
				max-width: 600px;

				span {
					background-color: #cf1017;
					line-height: 1.3;
				}
			}

			.cv-actions {
				display: block;
				max-width: 600px;

				li {
					display: inline-block;

					span {
						display: inline-block;
						padding: 10px 20px;
						background-color: #fff;
						color: #cf1017;
						text-transform: uppercase;
						font-size: 12px;
						font-weight: bold;
						cursor: pointer;
						margin: 0 5px 8px 0;

						&:hover {
							background-color: darken(#cf1017, 5);
							color: #fff;
						}
					}
				}
			}
		}
	}
}