//COLORS
$white: #fff;
$black: #000;
$window-background: #c0c0c0;
$highlight-background: #966cff;

$purple: #966cff;
$tangerine: #fe6ab4;
$sun: #ffdd8b;
$cyan: #1fdebc;
$skin: #ffa58b;
$shy: #c774a6;
$pink: #c774e6;
$sky: #92cffe;

.vapor {
    ::-moz-selection {
        color: #fff;
        background: $highlight-background;
    }

    ::selection {
        color: #fff;
        background: $highlight-background;
    }

    i {
        font-style: initial;
    }
}

@import "vapor/desktop";
@import "vapor/taskbar";
@import "vapor/menu";